{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'annotation_search/css/annotation_search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'kegg/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'kegg/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'kegg/js/jquery.tag-editor.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

{% endblock %}

{% block body %}


    <section>
        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="get-annotations">Annotations:</label>
                    <input type="text" class="form-control" id="get-annotations" value="{{ key_annotations|join:", " }}">
                </div>


                <div class="form-group">
                    <label for="get-genomes">Genome:</label>
                    <input type="text" class="form-control" id="get-genomes" value="{{ key_genomes|join:", " }}">
                </div>

                <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
            </form>

            <hr class="featurette-divider">
        </div>

        <div class="container">
            <form>
                <div class="form-group">
                    <label for="real-annotations">Annotations:</label>
                    <div class="form-control"
                         style="height: unset; padding: unset; background-color: #e9ecef; border: 1px solid #ced4da"
                         id="real-annotations">
                    </div>
                </div>

                <div class="form-group">
                    <label for="real-genomes">Genome:</label>
                    <div class="form-control"
                         style="height: unset; padding: unset; background-color: #e9ecef; border: 1px solid #ced4da"
                         id="real-genomes">
                    </div>
                </div>
            </form>

            <hr class="featurette-divider">
        </div>


        {% csrf_token %}

    </section>

    <section id="annotation-matrix-container">

    </section>


{% endblock %}

{% block end %}
    <script>

        "use strict";

        let current_annotations = [];
        let current_genomes = [];

        let genome_to_species;

        $(document).ready(function () {
            let original_annotations = [{% if key_annotations %} '{{ key_annotations|join:"', '" }}' {% else %}{% endif %}];
            init_autocomplete_annotations("#get-annotations");
            let original_genomes = [{% if key_genomes %} '{{ key_genomes|join:"', '" }}' {% else %}{% endif %}];
            genome_to_species = init_autocomplete_genomes("#get-genomes");

            loadAnnotationTable(original_annotations, original_genomes, true);
        });

        window.addEventListener('popstate', function (e) {
                // manage history stack
                let genomes, annotations;

                if (e.state == null) {
                    annotations = [{% if key_annotations %} '{{ key_annotations|join:"', '" }}' {% else %}{% endif %}];
                    genomes = [{% if key_genomes %} '{{ key_genomes|join:"', '" }}' {% else %}{% endif %}];
                } else {
                    annotations = undoReplBlanks(e.state[0]);
                    genomes = e.state[1];
                }

                loadAnnotationTable(annotations, genomes, false);
            }
        );


        function submit_function() {
            let annotations = $('#get-annotations').val().split(',');
            let genomes = $('#get-genomes').val().split(',');

            console.log('annotations:', annotations);
            console.log('genomes:', genomes);

            $.when(validate_annotations(annotations), validate_genomes(genomes)).done(function (annotations_valid, genomes_valid) {
                annotations_valid = annotations_valid[2].responseJSON['success'];
                genomes_valid = genomes_valid[2].responseJSON['success'];

                if (annotations_valid) {
                    $('#get-annotations').next().removeClass('is-invalid');
                } else {
                    $('#get-annotations').next().addClass('is-invalid')
                }

                if (genomes_valid) {
                    $('#get-genomes').next().removeClass('is-invalid');
                } else {
                    $('#get-genomes').next().addClass('is-invalid')
                }

                if (annotations_valid && genomes_valid) {
                    console.log('FORM CONTROL SUCCESS', annotations, genomes, true);
                    loadAnnotationTable(annotations, genomes, true);
                }

            });

        }

        function loadAnnotationTable(annotations, genomes, push_state) {
            console.log('CHANGE ANNOTATIONS: ', current_annotations, '----->', annotations);
            console.log('CHANGE genome:      ', current_genomes, '----->', genomes);

            if (
                genomes.sort().join('+') === current_genomes.sort().join('+') &&
                annotations.sort().join('+') === current_annotations.sort().join('+')
            ) {
                console.log('no change');
                return
            }

            let loadTable = async function () {
                await $('#annotation-matrix-container').load('{% url "website:annotation-matrix" %}', {
                        annotations: annotations,
                        genomes: genomes
                    }, function () {
                        // activate tooltips in newly loaded container
                        $('#annotation-matrix-container .ogb-tag').tooltip({
                            title: function () {
                                return $(this).attr('data-species');
                            }
                        }).each(function () {
                            if ($(this).hasClass('genome')) {
                                this.setAttribute('onclick', `showGenomeClickMenu(event, 'auto', 'auto', $(this).parent().parent() )`)
                            } else if ($(this).hasClass('annotation')) {
                                this.setAttribute('onclick', `showAnnotationClickMenu(event, 'auto', $(this).parent().parent().parent(), $(this).parent().parent().parent().parent() )`)
                            }
                        })
                    $('.group-table-container tbody [data-genes]').each(function(){
                        //todo: this?
                        this.setAttribute('onclick', `console.log('the genes behind this are:', '${$(this).data('genes')}')`)
                    })
                    }
                )

                finalize()
            };


            let finalize = function () {
                console.log('fin');
                if (push_state) {
                    let state = [[], []];
                    let url = '';

                    if (annotations.length !== 0) {
                        state[0] = annotations;
                        url += `?annotations=${urlReplBlanks(annotations)}`
                    }
                    if (genomes.length !== 0) {
                        state[1] = genomes;
                        if (annotations.length === 0) {
                            url += `?genomes=${urlReplBlanks(genomes)}`
                        } else {
                            url += `&genomes=${urlReplBlanks(genomes)}`
                        }
                    }

                    console.log("PUSH STATE");
                    window.history.pushState(state, null, url);
                }

                $.getJSON('{% url "website:api-genome-identifier-to-species" %}', {'genomes[]': genomes}, function (data) {
                    delete data.success;

                    $('#real-genomes').empty()
                    $('#real-genomes').append(create_read_only_strain_div(Object.keys(data), data))
                });

                $.getJSON('{% url "website:api-annotation-to-type" %}', {'annotations[]': annotations}, function (data) {

                    $('#real-annotations').empty()
                    $('#real-annotations').append(create_read_only_annotations_div(Object.keys(data), data))

                });


                current_annotations = annotations
                current_genomes = genomes

            };

            if (annotations === [] || genomes === []) {
                // nothing to display
                $('#annotation-matrix-container').empty()

                finalize();

                return
            }

            loadTable()

        }


    </script>

{% endblock %}
