{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'annotation_search/css/annotation_search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

{% endblock %}

{% block body %}

    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="get-annotations">Annotations:</label>
                    <input type="text" class="form-control" id="get-annotations" value="{{ annotations|join:", " }}">
                </div>

                <div class="form-group">
                    <label for="get-genomes">Genome:</label>
                    <input type="text" class="form-control" id="get-genomes"
                           value="{{ magic_query_manager.regular_genomes|join:", " }},{{ magic_query_manager.magic_objects|join:", " }}">
                </div>

                <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
            </form>

            {% if magic_query_manager and annotations %}
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>

                <form id="real-div" class="collapse">
                    <div class="form-group">
                        <label for="real-annotations">Annotations:</label>
                        <div class="form-control read-only-div"
                             style="height: unset; padding: unset; background-color: #e9ecef; border: 1px solid #ced4da"
                             id="real-annotations">
                            {% for annotation in annotations %}{{ annotation.html|safe }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="real-genomes">Genomes:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>
                </form>

                </div>
            {% endif %}
        </div>

    </section>

    <section id="annotation-matrix-container" style="padding-top: 1rem"></section>


{% endblock %}

{% block end %}
    <script>

        "use strict"

        let annotations = [{% if annotations %} '{{ annotations|join:"', '" }}' {% else %}{% endif %}]
        let genomes = [{% if magic_query_manager %} '{{ magic_query_manager.all_genomes|join:"', '" }}' {% else %}{% endif %}]

        let genome_to_species

        $(document).ready(function () {
            init_autocomplete_annotations("#get-annotations")
            genome_to_species = init_autocomplete_genomes("#get-genomes")

            $('#real-genomes .genome').click(function (event) {
                showGenomeClickMenu(event)
            })
            $('#real-annotations .annotation').click(function (event) {
                showAnnotationClickMenu(event, 'auto', 'auto', $('#real-genomes'))
            })

            loadTable(annotations, genomes, true)
        })

        function submit_function() {
            let annotations = $('#get-annotations').val().split(',')
            const genomes = $('#get-genomes').val().split(',')

            console.log('annotations:', annotations)
            console.log('genomes:', genomes)

            $.when(validate_annotations(annotations), validate_genomes(genomes)).done(function (annotations_valid, genomes_valid) {
                annotations_valid = annotations_valid[2].responseJSON['success']
                genomes_valid = genomes_valid[2].responseJSON['success']

                if (annotations_valid) {
                    $('#get-annotations').next().removeClass('is-invalid')
                } else {
                    $('#get-annotations').next().addClass('is-invalid')
                }

                if (genomes_valid) {
                    $('#get-genomes').next().removeClass('is-invalid')
                } else {
                    $('#get-genomes').next().addClass('is-invalid')
                }

                if (annotations_valid && genomes_valid) {
                    console.log('FORM CONTROL SUCCESS', annotations, genomes)
                    console.log('FORWARD TO NEW URL!')

                    let url = ''
                    if (annotations.length !== 0) {
                        url += `?annotations=${urlReplBlanks(annotations)}`
                    }
                    if (genomes.length !== 0) {
                        if (annotations.length === 0) {
                            url += `?genomes=${urlReplBlanks(genomes)}`
                        } else {
                            url += `&genomes=${urlReplBlanks(genomes)}`
                        }
                    }

                    window.location.href = url
                }
            })
        }

        async function loadTable(annotations, genomes) {
            console.log('LOAD ANNOTATIONS: ', annotations, '----->', annotations)
            console.log('LOAD GENOME:      ', genomes, '----->', genomes)

            if (annotations.length === 0 && genomes.length === 0) {
                console.log('no annotations or no genomes!')
                return
            }

            await $('#annotation-matrix-container').load('{% url "website:annotation-matrix" %}', {
                    annotations: annotations,
                    genomes: genomes
                }, function () {
                    // activate tooltips in newly loaded container
                    $('#annotation-matrix-container .ogb-tag').tooltip({
                        title: function () {
                            return $(this).attr('data-species')
                        }
                    }).each(function () {
                        if ($(this).hasClass('genome')) {
                            this.setAttribute('onclick', `showGenomeClickMenu(event, 'auto', 'auto', $(this).parent().parent() )`)
                        } else if ($(this).hasClass('annotation')) {
                            this.setAttribute('onclick', `showAnnotationClickMenu(event, 'auto', $(this).parent().parent().parent(), $(this).parent().parent().parent().parent() )`)
                        }
                    })
                    $('.group-table-container tbody [data-genes]').each(function () {
                        this.setAttribute('onclick', `showGenesClickMenu(event, $(event.target).data('genes').split(' '), $($(event.target).closest('table').find('th')[$(event.target).parent().index()].firstChild).data('species'))`)
                    })
                }
            )


        }


    </script>

{% endblock %}
