<div class="container">
    <h3>Coverage Matrix</h3>
</div>

<div id="annotation-matrix-container">
    {{ matrix|safe }}
</div>

<div class="container">
    <hr class="featurette-divider">

    {% for group_name, table in group_to_table.items %}

        <h3 id="header_{{ group_name }}" style="padding-top: 4em; margin-top: -4em;">Number of genes per strain: Group {{ group_name }}</h3>

        <div class="group-table-container">
            {{ table|safe }}
        </div>

    {% endfor %}

</div>
