{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- django form -->
    {{ form.media }}

    <!-- blasterjs -->
    <script src="{% static 'global/js/blaster.min.js' %}"></script>
    <script src="{% static 'global/js/html2canvas.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

{% endblock %}

{% block body %}


    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div id="query-genomes"></div>

                <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
            </form>


            {% if magic_query_manager %}
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>

                <form id="real-div" class="collapse">
                    <div class="form-group">
                        <label for="real-genomes-1">Genomes:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>

                </form>
            {% endif %}
        </div>

        {% if magic_query_manager %}
            <div class="container">

                <hr class="featurette-divider">

                <form id="blast-form" method="POST" action="{% url 'website:blast-submit' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_blast_type" class=" requiredField">Blast type</label>
                        <div>
                            <select name="blast_type" class="select form-control" id="id_blast_type">
                                <option value="blastp">blastp: protein -> protein cds</option>
                                <option value="blastn_ffn">blastn: nucleotides -> nucleotide cds</option>
                                <option value="blastn_fna">blastn: nucleotides -> nucleotide assembly</option>
                                <option value="blastx">blastx: nucleotides -> protein cds</option>
                                <option value="tblastn_ffn">tblastn: protein -> nucleotide cds</option>
                                <option value="tblastn_fna">tblastn: protein -> nucleotide assembly</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_blast_input" class=" requiredField">Blast input</label>
                        <div>
                            <textarea name="blast_input"
                                      id="blast_input" cols="40" rows="10"
                                      style="font-family: Courier" spellcheck="false"
                                      class="textarea form-control" required>></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="blast()">Blast</button>
                </form>

            </div>

        {% endif %}

    </section>

    <div id="blast-multiple-alignments"></div>
    <div id="blast-alignments-table"></div>
    <div id="blast-single-alignment"></div>

    <style>

        #blast-single-alignment {
            position: fixed;
            bottom: 0;
            background: white;
            padding-top: 0 !important;
            width: 100% !important;
        }

        #blast-single-alignment-pre {
            padding: 0 !important;
        }

    </style>

{% endblock %}

{% block end %}

    <script>
        "use strict"

        const genomesQuery = [{% if magic_query_manager %} '{{ magic_query_manager.queries|join:"', '" }}' {% else %}{% endif %}]
        const allGenomes = [{% if magic_query_manager %} '{{ magic_query_manager.all_genomes|join:"', '" }}' {% else %}{% endif %}]

        const queryGenomes = $('#query-genomes')

        $(document).ready(function () {
            addGenomesGroup(queryGenomes, genomesQuery, false, false)

            $('.ogb-tag.genome')
                .ogbTooltip()
                .click(function () {
                    showGenomeClickMenu(event)
                })

        })


        function submit_function() {
            const target = queryGenomes.find('.get-genomes')[0]
            const genomes = extractQuery(target)

            $.when(validate_genomes(genomes)).done(function (genomes_valid) {
                genomes_valid = genomes_valid['success']

                if (genomes_valid) {
                    $('.get-genomes').removeClass('is-invalid')
                } else {
                    $('.get-genomes').addClass('is-invalid')
                }

                if (genomes_valid) {
                    goToPageWithData('/blast', {'genomes': genomes})
                }
            })

        }

        let blasterjs = require("biojs-vis-blasterjs")

        function blast() {
            // remove old results
            $("#blast-multiple-alignments").empty()
            $("#blast-alignments-table").empty()
            $("#blast-single-alignment").empty()

            let frm = $('#blast-form')

            const serialized_query = frm.serialize() + '&genomes[]=' + urlReplBlanks(allGenomes)

            // load new blast results
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: serialized_query,
                success: function (data) {
                    let instance = new blasterjs({
                        string: data,
                        multipleAlignments: "blast-multiple-alignments",
                        alignmentsTable: "blast-alignments-table",
                        singleAlignment: "blast-single-alignment",
                    })
                },
                error: function (data) {
                    console.log('BLAST FAILED!', serialized_query, data)
                    alert('BLAST FAILED!')
                }
            }).done(function () {
                // append click listener
                waitForElement('#blast-alignments-table .alignment-table-description', function () {
                    $('#blast-alignments-table .alignment-table-description').click(function () {
                        const description = this.alignment.description
                        const gene_locus_tag = description.split(' ')[1].split('|').slice(-1)[0]
                        showGeneClickMenu(event, gene_locus_tag)
                    })
                })
            })
            return false
        }

    </script>


{% endblock %}
