{% extends 'global/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'annotation_search/css/blast.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- django form -->
    {{ form.media }}

    <!-- blasterjs -->
    <script src="{% static 'global/js/blaster.min.js' %}"></script>
    <script src="{% static 'global/js/html2canvas.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

{% endblock %}

{% block body %}


    <section>

        <div class="container">
            <form method="post" id="blast-form" action="{% url "website:blast-submit" %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Blast!</button>
            </form>
        </div>

    </section>

    <div id="blast-multiple-alignments"></div>
    <div id="blast-alignments-table"></div>
    <div id="blast-single-alignment"></div>

    <style>

        #blast-single-alignment {
            position: fixed;
            bottom: 0;
            background: white;
            padding-top: 0 !important;
            width: 100% !important;
        }

        #blast-single-alignment-pre {
            padding: 0 !important;
        }

    </style>

{% endblock %}

{% block end %}

    <script>

        "use strict";

        let current_annotations = [];
        let current_genomes = [];

        let genome_to_species;

        $(document).ready(function () {
            genome_to_species = init_autocomplete_genomes("#id_genomes");
        });


        let blasterjs = require("biojs-vis-blasterjs");

        let frm = $('#blast-form');
        frm.submit(function () {
            // remove old results
            $("#blast-multiple-alignments").empty();
            $("#blast-alignments-table").empty();
            $("#blast-single-alignment").empty();

            // load new blast results
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    let instance = new blasterjs({
                        string: data,
                        multipleAlignments: "blast-multiple-alignments",
                        alignmentsTable: "blast-alignments-table",
                        singleAlignment: "blast-single-alignment",
                    })
                },
                error: function (data) {
                    console.log('BLAST FAILED!', data)
                }
            }).done(function () {
                // append click listener
                waitForElement('#blast-alignments-table .alignment-table-description', function () {
                    $('#blast-alignments-table .alignment-table-description').click(function () {
                        const description = this.alignment.description
                        const gene_locus_tag = description.split(' ')[1].split('|').slice(-1)[0]
                        showGeneClickMenu(event, gene_locus_tag)
                    })
                })
            })
            return false;
        })


    </script>


{% endblock %}
