{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- django form -->
    {{ form.media }}

    <!-- blasterjs -->
    <script src="{% static 'global/js/blaster.min.js' %}"></script>
    <script src="{% static 'global/js/html2canvas.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

{% endblock %}

{% block body %}


    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="get-genomes">Genomes:</label>
                    <input type="text" class="form-control" id="get-genomes" value="{{ genomes|join:", " }}">
                </div>

                <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
            </form>
        </div>

        {% if genomes %}
            <div class="container">

                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>


                <form id="blast-form" method="POST" action="{% url 'website:blast-submit' %}">
                    {% csrf_token %}

                    <div id="real-div" class="form-group collapse">
                        <label for="real-genomes">Genomes:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_blast_type" class=" requiredField">Blast type</label>
                        <div>
                            <select name="blast_type" class="select form-control" id="id_blast_type">
                                <option value="blastp">blastp: protein -> protein cds</option>
                                <option value="blastn_ffn">blastn: nucleotides -> nucleotide cds</option>
                                <option value="blastn_fna">blastn: nucleotides -> nucleotide assembly</option>
                                <option value="blastx">blastx: nucleotides -> protein cds</option>
                                <option value="tblastn_ffn">tblastn: protein -> nucleotide cds</option>
                                <option value="tblastn_fna">tblastn: protein -> nucleotide assembly</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_blast_input" class=" requiredField">Blast input</label>
                        <div>
                            <textarea name="blast_input"
                                      id="blast_input" cols="40" rows="10"
                                      style="font-family: Courier" spellcheck="false"
                                      class="textarea form-control" required>></textarea>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="blast()">Blast</button>
                </form>

            </div>

        {% endif %}

    </section>

    <div id="blast-multiple-alignments"></div>
    <div id="blast-alignments-table"></div>
    <div id="blast-single-alignment"></div>

    <style>

        #blast-single-alignment {
            position: fixed;
            bottom: 0;
            background: white;
            padding-top: 0 !important;
            width: 100% !important;
        }

        #blast-single-alignment-pre {
            padding: 0 !important;
        }

    </style>

{% endblock %}

{% block end %}

    <script>

        "use strict"

        let current_annotations = []
        let current_genomes = []

        let genome_to_species

        $(document).ready(function () {
            genome_to_species = init_autocomplete_genomes("#get-genomes")

            $('#real-genomes .genome').click(function (event) {
                showGenomeClickMenu(event)
            })
        })


        function submit_function() {

            const genomes = $('#get-genomes').val().split(',')

            console.log('genomes:', genomes)

            $.when(validate_genomes(genomes)).done(function (genomes_valid) {

                genomes_valid = genomes_valid['success']

                if (genomes_valid) {
                    $('#get-genomes').next().removeClass('is-invalid')
                } else {
                    $('#get-genomes').next().addClass('is-invalid')
                }

                if (genomes_valid) {
                    console.log('FORM CONTROL SUCCESS', genomes)
                    console.log('FORWARD TO NEW URL!')

                    window.location.href = `?genomes=${urlReplBlanks(genomes)}`
                }
            })

        }

        let blasterjs = require("biojs-vis-blasterjs")

        function blast() {
            // remove old results
            $("#blast-multiple-alignments").empty()
            $("#blast-alignments-table").empty()
            $("#blast-single-alignment").empty()

            let frm = $('#blast-form')

            const genomes = $.map($('#real-genomes .genome'), function (x) {
                return x.innerText
            })

            const serialized_query = frm.serialize() + '&genomes[]=' + urlReplBlanks(genomes)

            // load new blast results
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: serialized_query,
                success: function (data) {
                    let instance = new blasterjs({
                        string: data,
                        multipleAlignments: "blast-multiple-alignments",
                        alignmentsTable: "blast-alignments-table",
                        singleAlignment: "blast-single-alignment",
                    })
                },
                error: function (data) {
                    console.log('BLAST FAILED!', serialized_query, data)
                    alert('BLAST FAILED!')
                }
            }).done(function () {
                // append click listener
                waitForElement('#blast-alignments-table .alignment-table-description', function () {
                    $('#blast-alignments-table .alignment-table-description').click(function () {
                        const description = this.alignment.description
                        const gene_locus_tag = description.split(' ')[1].split('|').slice(-1)[0]
                        showGeneClickMenu(event, gene_locus_tag)
                    })
                })
            })
            return false
        }

    </script>


{% endblock %}
