{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dna-feature-viewer/css/dna-feature-viewer.js.css' %}">
    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <script src="{% static 'align/js/align.js' %}"></script>
    <script src="{% static 'align/js/msa.min.js' %}"></script>

    <script src="{% static 'dna-feature-viewer/js/dna-feature-viewer.js' %}"></script>
    <script src="{% static 'global/js/bokeh.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-tables.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-widgets.min.js' %}"></script>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- SortableJS - https://github.com/SortableJS/Sortable -->
    <script src="{% static 'global/js/Sortable.min.js' %}"></script>

    <style>

        #gene-loci {
            height: 30rem
        }

    </style>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="msa-method"><a>Alignment method</a></label>
        <select class="form-control" id="msa-method">
            <option value="clustalo">Clustal Omega</option>
            <option value="mafft">MAFFT</option>
            <option value="muscle">Muscle</option>
        </select>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="msa-seqence-type"><a>Alignment sequence type</a></label>
        <select class="form-control" id="msa-seqence-type">
            <option value="protein">Protein</option>
            <option value="dna">DNA</option>
        </select>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-primary" onclick="load_aln()">Reload multiple sequence alignment</button>
    </div>


    <hr>


    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="form-control-range"><a>Set range around gene locus</a></label>
        <input type="range" class="form-control-range" id="form-control-range" min="3000" max="300000" value="10000">
        <span>update range to <b id="range-span">10000</b> bp</span>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="colorization-anno-type"><a>Colorize genes based on...</a></label>
        <select class="form-control" id="colorization-anno-type" data-selected="OL">
            {% for at in anno_types %}
                <option value="{{ at.anno_type }}" {% if at.anno_type == 'OL' %} selected {% endif %}>{{ at.name }} ({{ at.anno_type }})
                </option>{% endfor %}
            <option value="--">Highlight only selected gene</option>
        </select>
    </div>


    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-primary" onclick="load_dfvm()">Reload Gene Locus</button>
    </div>

{% endblock %}

{% block body %}

    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group" id="query-genes">
                    <label for="get-genes">Genes:</label>
                    <button onclick="wipeQuery(event.target.parentElement)" type="button" class="btn-sm btn-warning float-right" title=""
                            data-original-title="Wipe content">Wipe
                    </button>
                    <button onclick="copyQuery(event.target.parentElement)" type="button" class="btn-sm btn-info float-right" title=""
                            data-original-title="Copy content">Copy
                    </button>

                    <input type="text" class="form-control" id="get-genes" value="{{ genes|join:", " }}">
                </div>

                <button type="button" class="btn btn-primary" onclick="submitFunction()">Submit</button>
            </form>
        </div>


        {% if genes %}
            <div class="container">
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>


                <form>
                    <div id="real-div" class="form-group collapse">
                        <label for="real-genes">Genes:</label>
                        <div class="read-only-div" id="real-genes">
                            {% for gene in genes %}{{ gene.html|safe }}{% endfor %}
                        </div>
                    </div>
                </form>

            </div>
        {% endif %}

    </section>

    {% if genes %}

        <section>

            <!-- Gene Locus -->
            <div class="container">
                <hr class="featurette-divider">

                <h3>Alignments</h3>

                <button id="alignment-button" type="button" class="btn btn-primary" onclick="load_aln()">Perform multiple sequence alignment</button>

                <div id="alignments-spinner" class="spinner-border text-dark" role="status" hidden>
                    <span class="sr-only">Loading...</span>
                </div>

                <div id="alignments-container">
                    <div id="alignments"></div>
                </div>

                <span id="loading"></span>

            </div>


            <!-- Gene Locus -->
            <div class="container">
                <hr class="featurette-divider">

                <h3>Gene Loci</h3>

                <button id="gene-loci-button" type="button" class="btn btn-primary" onclick="load_dfvm()">Compare gene loci</button>

                <div id="gene-loci-spinner" class="spinner-border text-dark" role="status" hidden>
                    <span class="sr-only">Loading...</span>
                </div>

                <div id="gene-loci"></div>

            </div>


        </section>

    {% endif %}

{% endblock %}

{% block end %}
    <script>
        const genes = {% if genes %} ["{{genes|join:'", "'}}"] {% else %} [] {% endif %}

        let alignment  // will contain the MSA (not currently used)

        $(document).ready(function () {
            initAutocompleteGenes("#get-genes")

            $('#real-genes .gene')
                .ogbTooltip()
                .click(function (event) {
                    showGeneClickMenu(event)
                })
        })

        function submitFunction() {
            const genes = extractQuery('#query-genes')

            $.when(validateGenes(genes)).done(function (genes_valid) {

                genes_valid = genes_valid.success && genes.length > 0

                if (genes_valid) {
                    $('#get-genes').next().removeClass('is-invalid')
                } else {
                    $('#get-genes').next().addClass('is-invalid')
                }

                if (genes_valid) {
                    goToPageWithData('/compare-genes', {'genes': genes})
                }
            })
        }


        function load_dfvm() {
            $('#gene-loci-button').attr('hidden', true)
            $('#gene-loci-spinner').attr('hidden', false)
            $('#gene-loci').empty()

            load_dna_feature_viewer_multi(
                gene_identifiers = genes,
                target_div = $('#gene-loci'),
                span = parseInt($('#range-span').text()),
                colorize_by = $('#colorization-anno-type').val()
            ).then(function () {
                $('#gene-loci-spinner').attr('hidden', true)
            })
        }

        $('#form-control-range').on('change', function (e) {
            const span = $('#form-control-range').val()
            $('#range-span').text(span)
        })

        function load_aln() {
            alignment = undefined

            $('#alignment-button').attr('hidden', true)
            $('#alignments-spinner').attr('hidden', false)
            $('#alignments-container').html('<div id="alignments"></div>')

            load_alignment(
                gene_identifiers = genes,
                target_div = $('#alignments'),
                method = $('#msa-method').val(),
                sequence_type = $('#msa-seqence-type').val()
            ).then(function (result) {
                alignment = result
                $('#alignments-spinner').attr('hidden', true)
            })
        }

    </script>
{% endblock %}
