{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/sequence-viewer.css' %}" id="sequence-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}">

    <script src="{% static 'dna-feature-viewer/js/dna-feature-viewer.js' %}"></script>
    <script src="{% static 'global/js/bokeh.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-tables.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-widgets.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-sequence-checkbox"><a>Colorize sequences?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-sequence-checkbox"
               onclick="toggle_colorize_sequence()">
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="formControlRange"><a>Set range around gene locus</a></label>
        <input type="range" class="form-control-range" id="formControlRange" min="3000" max="300000" value="10000">

        <span>update range to <b id="range-span">10000</b> bp</span>
        <button type="button" class="btn btn-primary" onclick="load_dfvm()">Reload Gene Locus</button>
    </div>

{% endblock %}

{% block breadcrum %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Taxid -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:taxid' slug=gene.genomecontent.genome.taxid.id %}"> TAXID {{ gene.genomecontent.genome.taxid.id }}</a>
            </li>
            <!-- Organism -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:organism' slug=gene.genomecontent.organism %}"> ORGANISM {{ gene.genomecontent.organism }}</a>
            </li>
            <!-- Genome -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:genome' slug=gene.genomecontent %}"> GENOME {{ gene.genomecontent }}</a>
            </li>
            <!-- Gene -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>GENE {{ gene }}</span>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- locus tag -->
            <span class="type-label">locus tag:</span>
            <span class="h1" onclick="showGeneClickMenu(event, '{{ gene }}', [])">
                {{ gene }}</span>

            <!-- genome -->
            <span class="type-label">genome:</span>
            <span class="h2" onclick="showGenomeClickMenu(event, 'auto', '{{ gene.genomecontent.taxid }}')">{{ gene.genomecontent }}</span>

            <!-- taxid -->
            {% if gene.genomecontent.taxid %}<br>
                <span class="type-label">species:</span>
                <span class="h3" onclick="showTaxidClickMenu(event, '{{ gene.genomecontent.taxid }}')">
                    {{ gene.genomecontent.taxid }}</span>
                <span class="type-label">taxid:</span>
                <span class="h3" style="{{ gene.genomecontent.taxid.html_style }}"
                      onclick="showTaxidClickMenu(event, '{{ gene.genomecontent.taxid }}')">{{ gene.genomecontent.taxid.id }}</span>
            {% endif %}

        </div>

    </section>
    <section>

        <!-- Annotations -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Annotations</h3>
            <!-- Annotations: Table -->
            <div style="max-height: 30rem;overflow-y: auto">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for anno_type, annos in annotations.items %}
                        {% for anno in annos %}
                            <tr>
                                <th scope="row">
                                    <div class="annotation"
                                         data-annotype="{{ anno.anno_type }}">{{ anno.anno_type_verbose }}</div>
                                </th>
                                <td>{{ anno.html|safe }}</td>
                                <td>{{ anno.description }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
    <section>

        <!-- Sequences -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Sequences</h3>

            <p>Nucleotide sequence (GC-content: {{ gene.gc_content|floatformat:1 }} %):</p>
            <div class="sequence-div sequence-nucleotide">{{ fasta_nucleotide|safe }}</div>
            <br>
            <p>Protein sequence:</p>
            <div class="sequence-div sequence-protein">{{ fasta_protein|safe }}</div>
        </div>

    </section>
    <section>

        <!-- GenBank info -->
        <div class="container">
            <hr class="featurette-divider">
            <h3>GenBank Info</h3>

            {% for key, value in gene.get_gbk_qualifiers.items %}
                {{ key }} - {{ value|join:" --AND-- " }}<br>
            {% endfor %}
        </div>

    </section>
    <section>

        <!-- Gene Locus -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Gene Locus</h3>

            {% if scaffold_id %}<p>Located on scaffold {{ scaffold_id }}</p>{% endif %}

            <div id="gene-locus"></div>

            <hr class="featurette-divider">
        </div>

    </section>


    {% if sls_ids %}

        <section>
            <script type="module" src="{% static 'global/js/swissbiopics.js' %}"></script>

            <template id="sibSwissBioPicsStyle">
                <style>
                    #swissbiopic {
                        display: flex !important;
                        flex-direction: column-reverse !important;
                    }

                    .subcell_description, svg .subcell_name {
                        display: none;
                    }

                    ul > li > a {
                        font-style: oblique;
                    }
                </style>
            </template>

            <template id="sibSwissBioPicsSlLiItem">
                <li class="subcellular_location">
                    <a class="subcell_name"></a>
                    <span class="subcell_description"></span>
                </li>
            </template>

            <div class="container">
                <h3 class="d-flex h-100" data-toggle="collapse" href="#locusterms" aria-controls="locusterms" aria-expanded="true">
                    Cellular location
                    <img src="{% static 'global/ionicons/ios-arrow-down.svg' %}" class="expand-white-img align-self-center ml-auto" alt="expand">
                </h3>

                <div class="collapse" id="locusterms">
                    Responsible annotations: <br>
                    {% for sl_id, annotation in sls %}
                        <a href="https://www.nextprot.org/term/SL-{{ sl_id }}/">SL-{{ sl_id }}</a>: {{ annotation.html|safe }}
                        <span>{{ annotation.description }}</span>
                        <br>
                    {% endfor %}
                </div>

                <sib-swissbiopics-sl taxid="{{ taxid }}" sls="{{ sls_ids|join:',' }}"></sib-swissbiopics-sl>

                <hr class="featurette-divider">
            </div>

        </section>

    {% endif %}

    <section>

        <!-- Go to prev / next Gene -->
        <div class="container" style="display: flex; justify-content: space-between">
            <div>
                {% if prev_gene %}
                    <a href="{% url 'website:gene' slug=prev_gene %}">
                        <img src="{% static 'global/ionicons/ios-arrow-dropleft.svg' %}"
                             style="height: 3rem"> {{ prev_gene }}
                    </a>
                {% endif %}
            </div>
            <div>
                {% if next_gene %}
                    <a href="{% url 'website:gene' slug=next_gene %}">
                        {{ next_gene }} <img src="{% static 'global/ionicons/ios-arrow-dropright.svg' %}"
                                             style="height: 3rem">
                    </a>
                {% endif %}
            </div>
        </div>
        <div id="context-menu"></div>

    </section>


{% endblock %}

{% block end %}
    <script>
        let draw;

        const gene = "{{ gene }}"

        $(document).ready(function () {
            load_dfvm()

            $(".ogb-tag.annotation").each(function (index) {
                $(this)
                    .ogbTooltip()
                    .on("click", function () {
                        showAnnotationClickMenu(event)
                    })
            })

        })

        let load_dfvm = function () {
            $('#gene-locus').empty()
            load_dna_feature_viewer_single(
                gene_identifier = gene,
                target_div = $('#gene-locus'),
                span = parseInt($('#range-span').text())
            )
        }

        $('#formControlRange').on('change', function (e) {
            const span = $('#formControlRange').val()
            $('#range-span').text(span)
        })


    </script>
{% endblock %}
