{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- DataTables -->
    <script type="text/javascript" src="{% static 'website/js/datatables.min.js' %}"></script>

    <style>
        div.row:nth-child(1) {
            justify-content: space-between;
        }

        div.col-md-6:nth-child(2) {
            flex: unset;
            width: min-content;
        }

        #gene-trait-matching-table_length > label, #gene-trait-matching-table_filter > label {
            display: inline-flex
        }

        #gene-trait-matching-table_filter > label:nth-child(1) {
            width: 264px
        }

        #gene-trait-matching-table_length .custom-select, #gene-trait-matching-table_filter .form-control {
            margin: 0 7px 0 7px;
        }


    </style>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()" checked>
    </div>

    <div class="sidebar-subcontent">
        <div id="buttons" class="sidebar-subcontent">
            <a>Export table: </a>
        </div>
    </div>


    <hr>


    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="gene-trait-matching-anno-type"><a>Which category of annotations to use?</a></label>
        <select class="form-control" id="gene-trait-matching-anno-type" data-selected="{{ default_anno_type }}">
            {% for at in anno_types %}
                <option value="{{ at }}" {% if at == default_anno_type %} selected {% endif %}>{{ at.label }} ({{ at }})
                </option>{% endfor %}
        </select>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="gene-trait-matching-multiple-testing-method"><a>Multiple testing correction </a><a style="font-size:small"
                                                                                        href="https://www.statsmodels.org/dev/generated/statsmodels.stats.multitest.multipletests.html">(click
            here for more information)</a></label>
        <select class="form-control" id="gene-trait-matching-multiple-testing-method" data-selected="{{ anno_type }}">
            {% for mtm_val, mtm_descr in multiple_testing_methods.items %}
                <option value="{{ mtm_val }}" {% if mtm_val == default_multiple_testing_method %} selected {% endif %}>{{ mtm_descr }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="form-control-range"><a>Alpha / FWER (family-wise error rate)</a></label>
        <input type="range" class="form-control-range" id="form-control-range" min="0.01" max="0.99" value="{{ default_alpha }}" step="0.01">
        <span>alpha = <b id="range-span">{{ default_alpha }}</b></span>
    </div>

    <hr>

    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-primary" onclick="$('#gene-trait-matching-submit-button').click()">Submit</button>
    </div>


{% endblock %}

{% block body %}

    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="get-genomes-g1">Group 1:</label>
                    <input type="text" class="form-control" id="get-genomes-g1"
                           value="{{ magic_query_manager_g1.regular_genomes|join:", " }},{{ magic_query_manager_g1.magic_objects|join:", " }}">
                </div>

                <div class="form-group">
                    <label for="get-genomes-g2">Group 2:</label>
                    <input type="text" class="form-control" id="get-genomes-g2"
                           value="{{ magic_query_manager_g2.regular_genomes|join:", " }},{{ magic_query_manager_g2.magic_objects|join:", " }}">
                </div>

                <button id="gene-trait-matching-submit-button" type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
            </form>

            {% if magic_query_manager_g1 and magic_query_manager_g2 %}
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>

                <form id="real-div" class="collapse">
                    <div class="form-group">
                        <label for="real-genomes-1">Group 1:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager_g1.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="real-genomes-2">Group 2:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager_g2.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Parameters:</label>
                        <div class="read-only-div" id="real-anno-type">
                            <a>Annotation type: {{ default_anno_type }}</a>
                            <a>Multiple testing method: {{ default_multiple_testing_method }}</a>
                            <a>Alpha: {{ default_alpha }}</a>
                        </div>
                    </div>


                </form>

                </div>
            {% endif %}
        </div>

    </section>

    <section id="gene-trait-matching-container" style="padding-top: 1rem">
        <div class="container">
            <table id="gene-trait-matching-table" class="table table-striped table-bordered" style="width:100%"></table>
        </div>
    </section>


{% endblock %}

{% block end %}
    <script>

        "use strict"

        let genomes_g1 = [{% if magic_query_manager_g1 %} '{{ magic_query_manager_g1.all_genomes|join:"', '" }}' {% else %}{% endif %}]
        let genomes_g2 = [{% if magic_query_manager_g2 %} '{{ magic_query_manager_g2.all_genomes|join:"', '" }}' {% else %}{% endif %}]

        let genome_to_species

        $(document).ready(function () {
            let genome_to_species_g1 = init_autocomplete_genomes("#get-genomes-g1")
            let genome_to_species_g2 = init_autocomplete_genomes("#get-genomes-g2")
            let genome_to_species = {
                ...genome_to_species_g1,
                ...genome_to_species_g2
            }

            $('.ogb-tag.genome').click(function (event) {
                showGenomeClickMenu(event)
            })

            {% if success %}
                console.log(genomes_g1, genomes_g2, {{default_alpha}}, "{{default_anno_type}}", "{{default_multiple_testing_method}}")
                loadTable(genomes_g1, genomes_g2, {{default_alpha}}, "{{default_anno_type}}", "{{default_multiple_testing_method}}")
            {% endif %}
        })

        function submit_function() {
            const genomes_g1 = $('#get-genomes-g1').val().split(',')
            const genomes_g2 = $('#get-genomes-g2').val().split(',')

            const alpha = parseFloat($('#range-span').text())
            const anno_type = $('#gene-trait-matching-anno-type').val()
            const multiple_testing_method = $('#gene-trait-matching-multiple-testing-method').val()

            console.log('genomes-g1:', genomes_g1)
            console.log('genomes-g2:', genomes_g2)
            console.log('alpha:', alpha)
            console.log('anno_type:', anno_type)
            console.log('multiple_testing_method:', multiple_testing_method)

            $.when(validate_genomes(genomes_g1), validate_genomes(genomes_g2)).done(function (genomes_g1_valid, genomes_g2_valid) {
                genomes_g1_valid = genomes_g1_valid[2].responseJSON['success']
                genomes_g2_valid = genomes_g2_valid[2].responseJSON['success']

                if (genomes_g1_valid) {
                    $('#get-genomes-g1').next().removeClass('is-invalid')
                } else {
                    $('#get-genomes-g1').next().addClass('is-invalid')
                }

                if (genomes_g2_valid) {
                    $('#get-genomes-g2').next().removeClass('is-invalid')
                } else {
                    $('#get-genomes-g2').next().addClass('is-invalid')
                }

                if (genomes_g1_valid && genomes_g2_valid) {
                    console.log('FORM CONTROL SUCCESS', genomes_g1_valid, genomes_g2_valid)
                    console.log('FORWARD TO NEW URL!')

                    let url = `?alpha=${alpha}&anno_type=${anno_type}&multiple_testing_method=${multiple_testing_method}`

                    if (genomes_g1.length !== 0) {
                        url += `&g1=${urlReplBlanks(genomes_g1)}`
                    }
                    if (genomes_g2.length !== 0) {
                        url += `&g2=${urlReplBlanks(genomes_g2)}`
                    }

                    window.location.href = url
                }
            })
        }

        async function loadTable(genomes_g1, genomes_g2, alpha, anno_type, multiple_testing_method) {
            console.log('GENOMES GROUP 1: ', genomes_g1)
            console.log('GENOMES GROUP 2: ', genomes_g2)
            console.log('alpha: ', alpha)
            console.log('anno_type: ', anno_type)
            console.log('multiple_testing_method: ', multiple_testing_method)

            if (genomes_g1.length === 0 && genomes_g2.length === 0) {
                console.log('no annotations or no genomes!')
                return
            }

            $.getJSON('{% url "website:gene-trait-matching-table" %}', {
                'g1[]': genomes_g1,
                'g2[]': genomes_g2,
                'alpha': alpha,
                'anno_type': anno_type,
                'multiple_testing_method': multiple_testing_method
            }, function (data) {
                console.log('data', data)

                let table = $('#gene-trait-matching-table').DataTable({
                    data: data['dataset'],
                    columns: data['columns'],
                    lengthMenu: [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
                    pageLength: 25,
                    order: [[3, 'asc']],
                    "drawCallback": function (settings) {
                        $(".ogb-tag.annotation").each(function (index) {
                            // only add click event if there is none yet
                            if (jQuery._data(this, 'events') === undefined) {
                                $(this).on("click", function () {
                                    showAnnotationClickMenu(event)
                                })
                            }
                        })
                    },
                    language: {
                        "emptyTable": "No significant differences found. More genomes are probably required."
                    }
                })

                let buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: ['csv']
                }).container().appendTo($('#buttons'))

            })

        }

        $(document).ready(function () {
            $('#form-control-range').on('change', function (e) {
                const span = $('#form-control-range').val()
                $('#range-span').text(span)
            })
        })

    </script>

{% endblock %}
