{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/sequence-viewer.css' %}" id="sequence-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}">

    <script src="{% static 'dna-feature-viewer/js/dna-feature-viewer.js' %}"></script>
    <script src="{% static 'global/js/bokeh-2.0.2.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-tables-2.0.2.min.js' %}"></script>
    <script src="{% static 'global/js/bokeh-widgets-2.0.2.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-sequence-checkbox"><a>Colorize sequences?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-sequence-checkbox"
               onclick="toggle_colorize_sequence()">
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="formControlRange"><a>Example Range input</a></label>
        <input type="range" class="form-control-range" id="formControlRange" min="3000" max="300000" value="3000">

        <div><a>3000</a></div>
    </div>


{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Taxid -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:taxid' slug=gene.genomecontent.genome.taxid.id %}"> TAXID {{ gene.genomecontent.genome.taxid.id }}</a>
            </li>
            <!-- Strain -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:strain' slug=gene.genomecontent.strain %}"> STRAIN {{ gene.genomecontent.strain }}</a>
            </li>
            <!-- Genome -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:genome' slug=gene.genomecontent %}"> GENOME {{ gene.genomecontent }}</a>
            </li>
            <!-- Gene -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>GENE {{ gene }}</span>
            </li>
        </ol>
    </nav>

    <div class="body-push"></div>

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- locus tag -->
            <span class="type-label">locus tag:</span>
            <span class="h1">{{ gene }}</span>

            <!-- genome -->
            <span class="type-label">genome:</span>
            <a class="h2" href="{% url 'website:genome' slug=gene.genomecontent %}">{{ gene.genomecontent }}</a>

            <!-- taxid -->
            {% if gene.genomecontent.taxid %}<br>
                <span class="type-label">species:</span>
                <a class="h3" href="{% url 'website:taxid' slug=gene.genomecontent.taxid.id %}">{{ gene.genomecontent.taxid }} <span
                        style="{{ gene.genomecontent.taxid.html_style }}">(taxid: {{ gene.genomecontent.taxid.id }})</span></a>
            {% endif %}
        </div>


        <!-- Annotations -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Annotations</h3>
            <!-- Annotations: Table -->
            <table class="table no-bottom-padding">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                {% for anno_type, annos in annotations.items %}
                    {% for anno in annos %}
                        <tr>
                            <th scope="row">
                                <div class="annotation"
                                     data-annotype="{{ anno.anno_type }}">{{ anno.anno_type_verbose }}</div>
                            </th>
                            <td>{{ anno.html|safe }}</td>
                            <td>{{ anno.description }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Sequences -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Sequences</h3>

            <p>Nucleotide sequence (GC-content: {{ gene.gc_content|floatformat:1 }} %):</p>
            <div class="sequence-div sequence-nucleotide">{{ fasta_nucleotide|safe }}</div>
            <br>
            <p>Protein sequence:</p>
            <div class="sequence-div sequence-protein">{{ fasta_protein|safe }}</div>
        </div>

        <!-- GenBank info -->
        <div class="container">
            <hr class="featurette-divider">
            <h3>GenBank Info</h3>

            {% for key, value in gene.get_gbk_qualifiers.items %}
                {{ key }} - {{ value|join:" --AND-- " }}<br>
            {% endfor %}
        </div>

        <!-- Gene Locus -->
        <div class="container">
            <hr class="featurette-divider">

            <h3>Gene Locus</h3>

            <div id="gene-locus"></div>

            <hr class="featurette-divider">
        </div>


        <!-- Go to prev / next Gene -->
        <div class="container" style="display: flex; justify-content: space-between">
            <div>
                {% if prev_gene %}
                    <a href="{% url 'website:gene' slug=prev_gene %}">
                        <img src="{% static 'global/ionicons/ios-arrow-dropleft.svg' %}"
                             style="height: 3rem"> {{ prev_gene }}
                    </a>
                {% endif %}
            </div>
            <div>
                {% if next_gene %}
                    <a href="{% url 'website:gene' slug=next_gene %}">
                        {{ next_gene }} <img src="{% static 'global/ionicons/ios-arrow-dropright.svg' %}"
                                             style="height: 3rem">
                    </a>
                {% endif %}
            </div>
        </div>
        <div id="context-menu"></div>

    </section>

{% endblock %}

{% block end %}
    <script>
        let draw;


        $(document).ready(function () {
            load_dna_feature_viewer_single('{{ gene }}', $('#gene-locus'))
        });


    </script>
{% endblock %}
