{% extends 'global/base.html' %}

{% load ogb_tags %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>

    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <script src="{% static 'global/js/select2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/select2.min.css' %}"/>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- SortableJS - https://github.com/SortableJS/Sortable -->
    <script src="{% static 'global/js/Sortable.min.js' %}"></script>

    <!-- JQuery-UI (without Widgets>Tooltip) -->
    <script type="text/javascript" src="{% static 'global/js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'global/css/jquery-ui.min.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{% static 'global/css/genome_filter.css' %}"/>

{% endblock %}


{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

    <hr>

    <div class="sidebar-subcontent form-check form-check-inline">
        <a>Download Table</a>
    </div>
    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-secondary" onclick="tableToTsv('#genome-table', 'genomes.tsv')">
            genomes.tsv
        </button>
    </div>

{% endblock %}


{% block body %}

    <div class="container">

        <h1>Genomes</h1>

        <div id="collapse-header" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"
             onclick="activateDropdownSelect()">
            <span>Show columns and filters</span>
            <img src="{% static 'global/ionicons/ios-arrow-down.svg' %}" alt="expand">
        </div>

        <div class="collapse" id="collapseFilters">
            <br>

            <form method="GET" id="form">

                <div class="input-group mb-3" id="form_columns">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="label_columns" for="id_columns">Columns</label>
                    </div>
                    <input name="columns" hidden>
                    <div class="form-control" id="id_columns">
                        <div>
                            <h6>Sort columns</h6>
                            <ul id="sortable-selected" class="sortable grid">
                                {% for column in active_columns.values %}
                                    <li data-selector="{{ column.id }}">{{ column.label }}</li>{% endfor %}
                            </ul>
                        </div>
                        <div>
                            <h6>Available Columns</h6>
                            <ul id="sortable-available" class="sortable grid">
                                {% for column_id, column in all_columns.items %}{% if column_id not in active_columns %}
                                    <li data-selector="{{ column.id }}">{{ column.label }}</li>{% endif %}{% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>

                {% for filter in shown_filters.values %}
                    {{ filter.html }}
                {% endfor %}

                <div class="input-group mb-3" id="form_paginate_by">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="label_paginate_by"
                               for="id_paginate_by">Page size</label>
                    </div>

                    <select class="custom-select" name="paginate_by" id="id_paginate_by">

                        {% for option in pagination_options %}
                            <option value="{{ option }}" {% if option == paginated_by %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <div aria-label="Table info" class="container mt-3" style="display: flex; justify-content: space-between; align-items:center">
        <span>
            {% if page_obj %}
                Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} genomes
            {% else %}
                Showing {{ object_list.count }} genomes
            {% endif %}
            (filtered from {{ total_unfiltered_count }} total entries)
            <span id="n-selected-rows"></span>
        </span>

        <div class="form-check">
            <label class="form-check-label" for="selectRows">
                Select all
            </label>
            <input type="checkbox" value="" id="selectRows" onclick="toggleAll(this.checked)">
        </div>

    </div>

    <div class="table-container">
        <table id="genome-table" class="table table-sm table-striped">
            <thead class="thead-dark">
            <tr>
                {% for column in active_columns.values %}
                    <th data-column-id="{{ column.id }}">
                        <div class="column-info d-flex justify-content-around">
                            {% if column.query %}<span class="active-filter" title="A filter is active on this column.">f</span>{% endif %}
                            <div class="d-flex">
                                <a class="sort-btn sort-asc {% if column.sorted == 'asc' %}sorted{% endif %}" title="Sort ascending"
                                   href="?{% param_replace sort=column.id asc='True' %}">↑</a>
                                <a class="sort-btn sort-desc {% if column.sorted == 'desc' %}sorted{% endif %}" title="Sort descending"
                                   href="?{% param_replace sort=column.id asc='False' %}">↓</a>
                            </div>
                        </div>
                        <div class="column-label">{{ column.label }}</div>
                    </th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% if not table %}
                <tr>
                    <td colSpan="{{ active_columns|length }}">no matching genomes found</td>
                </tr>{% endif %}
            {% for row in table %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell|safe }}</td>{% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div aria-label="Page navigation" class="container d-flex justify-content-center">
        {% include "global/pagination_snippet.html" %}
    </div>

{% endblock %}

{% block end %}
    <script>
        "use strict"

        const form = document.getElementById('form')
        const sortable_selected = document.getElementById('sortable-selected')
        const sortable_available = document.getElementById('sortable-available')

        $(document).ready(function () {
            new Sortable.create(sortable_selected, {
                animation: 150,
                multiDrag: true, // Enable multi-drag
                selectedClass: 'selected', // The class applied to the selected items
                group: 'shared', // set both lists to same group
            })
            new Sortable.create(sortable_available, {
                animation: 150,
                multiDrag: true, // Enable multi-drag
                selectedClass: 'selected', // The class applied to the selected items
                group: 'shared', // set both lists to same group
            })
        })

        const updateNumberSelectedRows = function () {
            const nRows = $('tbody tr.selected').length
            const nRowsText = nRows ? ` - ${nRows} selected` : ''
            $('#n-selected-rows').text(nRowsText)
        }


        $("#genome-table th").each(function (iColumn, column) {
            const columnId = $(column).data('column-id')
            if (columnId === 'literature_references') {
                $("#genome-table tr").each(function (iRow, row) {
                    if (iRow === 0) return
                    const envField = row.children[iColumn]
                    if (envField.textContent.length > 2) {
                        const textContent = JSON.parse(envField.textContent.replace(/\'/g, '\"'))
                        envField.innerHTML = textContent.map(x => `<a class="badge badge-info" href="${x['url'] || ''}">${x['name'] || ''}</a>`).join('')
                    } else {
                        envField.innerHTML = ''
                    }
                })
            }
        })

        $(document).ready(function () {
            $('.ogb-tag.genome')
                .ogbTooltip()
                .click(function (event) {
                    showGenomeClickMenu(event, 'auto', 'auto', 'tbody tr.selected')
                })
            $('.ogb-tag.organism')
                .ogbTooltip()
                .click(function (event) {
                    showOrganismClickMenu(event)
                })
            $('.ogb-tag.tag')
                .ogbTooltip()
                .click(function (event) {
                    showTagClickMenu(event)
                })
            $('.active-filter, .sort-asc, .sort-desc').tooltip()
        })

        const activateDropdownSelect = function () {
            setTimeout(function () {
                // timeout because jquery-ui requires visible elements
                {% for js in activate_js %}
                    {{ js|safe }}
                {% endfor %}
            }, 10)
        }

        let lastSelectedRow  // track which row was last clicked on (important to select multiple)
        const trs = $('tbody tr')
        const toggleAll = function (select = true) {
            console.log(select)
            if (select) {
                trs.addClass('selected')
            } else {
                trs.removeClass('selected')
            }
            updateNumberSelectedRows()
        }

        $(document).ready(function () {
            $('tbody')
                .on('mousedown', 'tr', function (data) {
                    // ignore clicks with alt key or middle or right click
                    if (data.altKey || data.which === 2 || data.which === 3) return

                    if (data.shiftKey && lastSelectedRow !== undefined) {
                        // select multiple rows
                        const rowRange = [this.rowIndex, lastSelectedRow].sort((a, b) => a - b)  // sort ascending
                        for (let i = rowRange[0]; i <= rowRange[1]; i++) {
                            if (data.ctrlKey) {
                                $(trs[i - 1]).removeClass('selected')  // shiftKey + ctrlKey -> deselect multiple
                            } else {
                                $(trs[i - 1]).addClass('selected')  // shiftKey -> select multiple
                            }
                        }
                    } else {
                        // select single rows
                        if (data.target.classList.contains('genome')) {
                            $(this).addClass('selected')  // if the target is a genome, always select the row
                        } else {
                            $(this).toggleClass('selected')  // simple click -> toggle one row
                        }
                    }

                    lastSelectedRow = this.rowIndex
                    updateNumberSelectedRows()

                    data.preventDefault()  // otherwise, text is selected
                })
                .contextmenu(function (data) {
                    // if any key pressed, open default context menu
                    if (data.altKey || data.shiftKey || data.ctrlKey) return

                    // select target row and showGenomeClickMenu
                    const targetTr = $(data.target.parentElement)
                    const childGenomes = targetTr.find('.genome')
                    if (childGenomes.length === 1) {
                        targetTr.addClass('selected')
                        data.originalEvent.preventDefault()
                        childGenomes.click()
                    }
                })
        })

        $(document).keyup(function (e) {
            if (e.key === "Escape") { // escape key maps to keycode `27`
                console.log('Escape pressed: deselect all rows.')
                toggleAll(false)
            }
        });

        $(form).submit(function () {
            console.log(`Form Submitted! Time stamp: ${event.timeStamp}`)

            // copy columns to input
            const selectedColumns = $(form).find('#id_columns #sortable-selected li').map(function () {
                return $(this).data('selector')
            }).get()
            $(form).find('input[name=columns]').attr('value', selectedColumns)


            {% for js in submit_js %}
                {{ js|safe }}
            {% endfor %}


            // remove empty filters
            $(form).find('input[name], select[name]').each(function () {
                if (this.value === '') {
                    this.name = ''
                }
            })

            // print submitted stuff
            console.log($(form).serialize().split('&'))
        })

    </script>
{% endblock %}
