{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">

    {% if genome_markdown or organism_markdown %}
        <!-- Markdown https://marked.js.org/ -->
        <link rel="stylesheet" type="text/css" href="{% static 'global/css/ogb-markdown.css' %}"/>
        <script src="{% static 'global/js/marked.min.js' %}"></script>
    {% endif %}

    <!-- Plotly https://plot.ly/ -->
    <script src="{% static 'global/js/plotly-latest.min.js' %}"></script>

    <!-- piechart https://anychart.com/ -->
    <script src="{% static 'global/js/Chart.bundle.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggleColorizeTax()">
    </div>

{% endblock %}

{% block breadcrum %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Taxid -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:taxid' slug=genome.taxid.id %}"> TAXID {{ genome.taxid.id }}</a>
            </li>
            <!-- Organism -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:organism' slug=genome.organism %}"> ORGANISM {{ genome.organism }}</a>
            </li>
            <!-- Genome -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>GENOME {{ genome }}</span>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- genome -->
            <span class="type-label">genome:</span>
            <span class="h1"
                  onclick="showGenomeClickMenu(event, 'auto', '{{ genome.taxid }}')">{{ genome.identifier }}</span>

            <!-- organism -->
            <span class="type-label">organism:</span>
            <span class="h2"
                  onclick="showOrganismClickMenu(event, 'auto', '{{ genome.taxid }}')">{{ genome.organism }}</span>

            <!-- old identifier -->
            {% if genome.old_identifier %}
                <span class="type-label">old identifier:</span>
                <span class="h3">{{ genome.old_identifier }}</span>
            {% endif %}

            <!-- taxid -->
            {% if genome.taxid %}<br>
                <span class="type-label">species:</span>
                <span class="h3" onclick="showTaxidClickMenu(event, '{{ genome.taxid }}')">
                    {{ genome.taxid }}</span>
                <span class="type-label">taxid:</span>
                <span class="h3" style="{{ genome.taxid.html_style }}"
                      onclick="showTaxidClickMenu(event, '{{ genome.taxid }}')">{{ genome.taxid.id }}</span>
            {% endif %}

            <hr class="featurette-divider">
        </div>

        <!-- representative -->
        <div class="container black-links">
            {% if genome.representative %}
                <div class="alert alert-success" role="alert">
                    This genome is a representative of <a href="{% url 'website:organism' slug=genome.organism %}"
                                                          style="color:darkgreen">{{ genome.organism }}</a>.
                </div>
            {% else %}
                <div class="alert alert-dark" role="alert">
                    Warning: This genome is not a representative of <a
                        href="{% url 'website:organism' slug=genome.organism %}">{{ genome.organism }}</a>.
                </div>
            {% endif %}
        </div>

        {% if genome.organism.restricted %}
            <!-- restricted -->
            <div class="container black-links">

                <div class="alert alert-warning" role="alert">
                    Warning: This organism is restricted.
                </div>

            </div>
        {% endif %}

        {% if genome.contaminated %}
            <!-- restricted -->
            <div class="container black-links">

                <div class="alert alert-danger" role="alert">
                    Warning: This genome is contaminated.
                </div>

            </div>
        {% endif %}

        {% if genome.all_tags.count > 0 %}
            <!-- tags -->
            <div class="container">
                <hr class="featurette-divider">

                <h3>Tags</h3>
                <div class="container flex-container">
                    {% for tag in genome.all_tags.all %}
                        <div class="card" style="width: 18rem; background-color:rgb({{ tag.color }})">
                            <div class="card-body">
                                <h5 class="card-title"
                                    style="color: {% if tag.text_color_white %}white{% else %}black{% endif %}">{{ tag.tag }}</h5>
                                <div class="card-textbox rounded">
                                    <p class="card-text">{{ tag.description|default:"no description" }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if organism_markdown %}
            <!-- markdown -->
            <div class="container">
                <hr class="featurette-divider">

                <div id="organism-markdown-content" style="display:none">{{ organism_markdown }}</div>

                <div id="organism-markdown" class="ogb-markdown"></div>
                <script>
                    document.getElementById('organism-markdown').innerHTML =
                        marked(document.getElementById('organism-markdown-content').textContent)
                </script>
            </div>
        {% endif %}

        {% if genome_markdown %}
            <!-- markdown -->
            <div class="container">
                <hr class="featurette-divider">

                <div id="genome-markdown-content" style="display:none">{{ genome_markdown }}</div>

                <div id="genome-markdown" class="ogb-markdown"></div>
                <script>
                    document.getElementById('genome-markdown').innerHTML =
                        marked(document.getElementById('genome-markdown-content').textContent)
                </script>
            </div>
        {% endif %}

        <!-- tables -->
        <div class="container black-links">
            <hr class="featurette-divider">

            <h3>Metadata</h3>
            <!-- key parameters -->
            <div data-toggle="collapse" href="#parameters-key-body" aria-expanded="true"
                 aria-controls="parameters-key-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Key Parameters</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}">
                        </th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-key-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for param in key_parameters %}{% if param.value != None %}
                        {{ param.html }}
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- sequencing parameters -->
            <div data-toggle="collapse" href="#parameters-seq-body" aria-expanded="true"
                 aria-controls="parameters-seq-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sequencing Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}">
                        </th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-seq-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for param in seq_parameters %}{% if param.value != None %}
                        {{ param.html }}
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- assembly parameters -->
            <div data-toggle="collapse" href="#parameters-ass-body" aria-expanded="true"
                 aria-controls="parameters-ass-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Assembly Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}">
                        </th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-ass-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for param in ass_parameters %}{% if param.value != None %}
                        {{ param.html }}
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- annotation parameters -->
            <div data-toggle="collapse" href="#parameters-ann-body" aria-expanded="true"
                 aria-controls="parameters-ann-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Annotation Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}">
                        </th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-ann-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for param in ann_parameters %}{% if param.value != None %}
                        {{ param.html }}
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- annotations by category -->
            <div data-toggle="collapse" href="#annotations-by-category" aria-expanded="true"
                 aria-controls="annotations-by-category">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Annotations by category</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}">
                        </th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="annotations-by-category">
                <table class="table no-top-padding">
                    <thead>
                    <tr>
                        <th></th>
                        <th># genes with annotation</th>
                        <th># unique annotations</th>
                        <th>Browse anntoations</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for at, info in ann_per_annotype.items %}
                        <tr>
                            <th scope="row"><span class="ogb-tag" data-annotype="{{ at.anno_type }}"
                                                  style="cursor: unset">{{ at.name }} ({{ at.anno_type }})</span></th>
                            <td>{{ info.n_genes_with_annotation }}</td>
                            <td>{{ info.n_unique_annotations }}</td>
                            <td>
                                <a href="{% url "website:annotation-filter" %}?genomes={{ genome.identifier }}&anno_type={{ at.anno_type }}">link</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        {% if genome.BUSCO.S %}
            <!-- busco -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>BUSCO</h3>

                <div class="container flex-container">
                    <div class=flex-table">
                        <table class="table table-sm" id="busco-table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" data-toggle="tooltip" data-placement="top"
                                    title="BUSCO: Benchmarking Universal Single-Copy Orthologs"><a
                                        href="https://busco.ezlab.org/" style="color: inherit">BUSCO</a></th>
                                <th scope="col" data-toggle="tooltip" data-placement="top"
                                    title="BUSCO dataset">{{ genome.BUSCO.dataset|default:"dataset undefined" }} {{ genome.BUSCO.dataset_creation_date|default:"" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-success" data-toggle="tooltip" data-placement="right"
                                title="Complete and single-copy">
                                <th scope="row">Single-copy</th>
                                <td>{{ genome.BUSCO.S }}</td>
                            </tr>
                            <tr class="table-primary" data-toggle="tooltip" data-placement="right"
                                title="Complete but duplicated">
                                <th scope="row">Duplicated</th>
                                <td>{{ genome.BUSCO.D }}</td>
                            </tr>
                            <tr class="table-warning" data-toggle="tooltip" data-placement="right"
                                title="Match with high-identity but incomplete">
                                <th scope="row">Fragmented</th>
                                <td>{{ genome.BUSCO.F }}</td>
                            </tr>
                            <tr class="table-danger" data-toggle="tooltip" data-placement="right"
                                title="No significant matches or score below BUSCO profile.">
                                <th scope="row">Missing</th>
                                <td>{{ genome.BUSCO.M }}</td>
                            </tr>
                            <tr class="table-light" data-toggle="tooltip" data-placement="right"
                                title="Single-copy + duplicated">
                                <th scope="row">Complete</th>
                                <td>{{ genome.BUSCO.C }}</td>
                            </tr>
                            <tr class="table-dark" data-toggle="tooltip" data-placement="right"
                                title="Total BUSCO genes in profile">
                                <th scope="row">Total</th>
                                <td>{{ genome.BUSCO.T }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-pie">
                        <div id="busco-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if cog %}
            <div class="container">

                <hr class="featurette-divider">

                <h3>COG</h3>

                <div class="container flex-container">
                    <div class=flex-table">
                        <table class="table table-sm" id="cog-table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" data-toggle="tooltip" data-placement="top"
                                    title="COG: Clusters of Orthologous Genes"><a
                                        href="https://www.ncbi.nlm.nih.gov/research/cog-project/"
                                        style="color: inherit">COG</a></th>
                                <th class="text-center" scope="col">description</th>
                                <th class="text-right" scope="col">value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cog, data in cog.items %}
                                <tr style="background-color: {{ data.color }}">
                                    <th class="text-center" scope="row">{{ cog }}</th>
                                    <td class="text-center">{{ data.description }}</td>
                                    <td class="text-right">{{ data.value|floatformat:1 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-pie">
                        <div id="cog-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if custom_tables %} {% for title, table, pie_chart_col in custom_tables %}
            <!-- included_sequences -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>{{ title }}</h3>

                {% if pie_chart_col %}
                    <div class="container flex-container">
                        <div class=flex-table">
                            {{ table|safe }}
                        </div>
                        <div>
                            <div id="{{ title }}-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                        </div>
                    </div>

                {% else %}

                    {{ table|safe }}

                {% endif %}

            </div>
        {% endfor %}{% endif %}

        <!-- browse files -->
        <div class="container black-links">
            <hr class="featurette-divider">
            <h3>Browse files</h3>
            <ul>
                <li><a href="/files_html/{{ genome.base_path }}/">Genome folder</a></li>
            </ul>
        </div>

        <!-- download files -->
        <div class="container black-links">
            <hr class="featurette-divider">
            <h3>Download files</h3>
            <ul>
                <li><a href="/files_html/{{ genome.assembly_fasta }}">Assembly</a></li>
                <li>Coding sequences (CDS)
                    <ul>
                        <li><a href="/files_html/{{ genome.cds_faa }}">Protein fasta (faa)</a></li>
                        <li><a href="/files_html/{{ genome.cds_gbk }}">GenBank (gbk)</a></li>
                        <li><a href="/files_html/{{ genome.cds_gff }}">General feature format (gff)</a></li>
                        {% if genome.cds_ffn %}
                            <li><a href="/files_html/{{ genome.cds_ffn }}">Nucleotide fasta (ffn)</a></li> {% endif %}
                        {% if genome.cds_sqn %}
                            <li><a href="/files_html/{{ genome.cds_sqn }}">Submission-ready annotated sequence (sqn)</a>
                            </li> {% endif %}
                    </ul>
                </li>
                {% if genome.custom_annotations %}
                    <li>Custom annotations
                        <ul>
                            {% for custom_annotation in genome.custom_annotations %}
                                <li>
                                    <a href="/files_html/{{ genome.base_path }}/{{ custom_annotation.file }}">{{ custom_annotation.type }}
                                        (from {{ custom_annotation.date }})</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- find gene -->
        <div class="container">
            <hr class="featurette-divider">
            <h3>Find gene</h3>

            <label for="gene-search">Gene: </label>
            <input id="gene-search" value="{{ genome }}_">

            <button type="button" class="btn btn-primary" onclick="goToGene($('#gene-search').val())">Submit</button>
        </div>

        <!-- link to annotation search -->
        <div class="container black-links">
            <hr class="featurette-divider">
            <h3>Search for annotations in this genome</h3>

            <a href="{% url 'website:annotation-search' %}?genomes={{ genome }}">Link to annotation search</a>
        </div>


    </section>
{% endblock %}

{% block end %}
    <script>

        $(document).ready(function () {
            $('#busco-table [data-toggle="tooltip"]').tooltip({boundary: 'window'}) // BUSCO tooltips
            $('#cog-table [data-toggle="tooltip"]').tooltip({boundary: 'window'}) // COG tooltips

            $('[data-species]').ogbTooltip()

            $("#gene-search").autocomplete({
                source: function (request, response) {
                    jQuery.get("/api/autocomplete-genes", {
                        term: request.term
                    }, function (data) {
                        response(data)
                    })
                },
                minLength: 3,
                position: {collision: "flip"}
            })

            $(".ogb-tag.taxid").each(function (index) {
                $(this).on("click", function () {
                    showTaxidClickMenu(event)
                })
            })

        })

        function goToGene(gene) {
            window.open(`/gene/${gene}`)
        }

        const pie_layout = {
            height: 370,
            width: 370,
            showlegend: false
        }

        const pie_settings = {
            displayModeBar: false
        }

        function loadBuscoPie() {
            let data = [{
                values: [{{ genome.BUSCO.S }}, {{ genome.BUSCO.D }}, {{ genome.BUSCO.F }}, {{ genome.BUSCO.M }}],
                labels: ['S (single-copy)', 'D (duplicated)', 'F (fragmented)', 'M (missing)',],
                type: 'pie',
                marker: {
                    colors: ['#8fd19e', '#b8daff', '#ffdf7e', '#ed969e']
                },
            }]

            Plotly.newPlot('busco-pie-chart', data, pie_layout, pie_settings)
        }

        function loadCogPie() {
            let data = [{
                values: [{% for d in cog.values %}'{{ d.value }}',{% endfor %}],
                labels: [{% for c, data in cog.items %}'({{ c }}) {{ data.description }}',{% endfor %}],
                type: 'pie',
                marker: {
                    colors: [{% for d in cog.values %}'{{ d.color }}',{% endfor %}]
                },
            }]

            Plotly.newPlot('cog-pie-chart', data, pie_layout, pie_settings)
        }

        {% if included_sequences %}
            function loadIncludedPie() {
                let data = [{
                    values: [
                        {% for taxid, html, sci_name, color, percentage in included_sequences %} {{percentage}}, {% endfor %}],
                    labels: [
                        {% for taxid, html, sci_name, color, percentage in included_sequences %} "{{sci_name}}", {% endfor %}],
                    type: 'pie',
                    marker: {
                        colors: [
                            {% for taxid, html, sci_name, color, percentage in included_sequences %} "rgb({{color}})", {% endfor %}]
                    },
                }]


                Plotly.newPlot('included-pie-chart', data, pie_layout, pie_settings)
            }
        {% endif %}

        function loadCustomTablePie(title, pie_chart_col) {
            const chart_id = `${title}-pie-chart`
            const table_id = `custom_table_${title}`

            const table = document.getElementById(table_id)

            // get column index with values
            const values_idx = $(table).find('th').map(function () {
                return this.innerHTML
            }).get().indexOf(pie_chart_col)

            // get column index description
            const descr_idx = values_idx === 0 ? 1 : 0

            // get values
            const values = $(table).find('tbody tr').map(function () {
                return $(this).find('td')[values_idx].innerText
            }).get()

            // get descriptions
            const descrs = $(table).find('tbody tr').map(function () {
                return $(this).find('td')[descr_idx].innerText
            }).get()

            // try to find a color for each row
            function get_color(row) {
                let col
                row.find('*').each(function (index, el) {
                    const _col = window.getComputedStyle(this, null).getPropertyValue("background-color")
                    if (_col !== 'rgba(0, 0, 0, 0)') {
                        col = _col
                    }
                })
                return col
            }

            const colors = $(table).find('tbody tr').map(function () {
                return get_color($(this))
            }).get()

            let data = [{
                values: values,
                labels: descrs,
                type: 'pie',
                marker: {
                    colors: colors
                }
            }]

            Plotly.newPlot(chart_id, data, pie_layout, pie_settings)
        }

        window.onload = function () {
            {% if genome.BUSCO %}
                loadBuscoPie()
            {% endif %}

            {% if cog %}
                loadCogPie()
            {% endif %}


            {% if custom_tables %} {% for title, table, pie_chart_col in custom_tables %}
            {% if pie_chart_col %}
                loadCustomTablePie('{{ title }}', '{{ pie_chart_col }}')
            {% endif %}
            {% endfor %}{% endif %}

        }


    </script>

{% endblock %}