{% extends 'global/base.html' %}

{% load ogb_tags %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'annotation_search/css/annotation_search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/annotype_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>

    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <script src="{% static 'global/js/select2.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/select2.min.css' %}"/>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

    <!-- SortableJS - https://github.com/SortableJS/Sortable -->
    <script src="{% static 'global/js/Sortable.min.js' %}"></script>

    <!-- JQuery-UI (without Widgets>Tooltip) -->
    <script type="text/javascript" src="{% static 'global/js/jquery-ui.min.js' %}"></script>
    <link href="{% static 'global/css/jquery-ui.min.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{% static 'global/css/genome_filter.css' %}"/>

{% endblock %}


{% block body %}

    <div class="container">

        <h1>Genomes</h1>

        <div id="collapse-header" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"
             onclick="activateDropdownSelect()">
            <span>Expand filters</span>
            <img src="{% static 'global/ionicons/ios-arrow-down.svg' %}" alt="expand">
        </div>

        <div class="collapse" id="collapseFilters">
            <br>

            <form method="GET" id="form">

                <div class="input-group mb-3" id="form_columns">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="label_columns" for="id_columns">Columns</label>
                    </div>
                    <input name="columns" hidden>
                    <div class="form-control" id="id_columns">
                        <div>
                            <h6>Sort columns</h6>
                            <ul id="sortable-selected" class="sortable grid">
                                {% for column in active_columns.values %}
                                    <li data-selector="{{ column.id }}">{{ column.label }}</li>{% endfor %}
                            </ul>
                        </div>
                        <div>
                            <h6>Available Columns</h6>
                            <ul id="sortable-available" class="sortable grid">
                                {% for column_id, column in all_columns.items %}{% if column_id not in active_columns %}
                                    <li data-selector="{{ column.id }}">{{ column.label }}</li>{% endif %}{% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>

                {% for filter in shown_filters.values %}
                    {{ filter.html }}
                {% endfor %}

                <div class="input-group mb-3" id="form_paginate_by">
                    <div class="input-group-prepend">
                        <label class="input-group-text" id="label_paginate_by"
                               for="id_paginate_by">Page size</label>
                    </div>

                    <select class="custom-select" name="paginate_by" id="id_paginate_by">

                        {% for option in pagination_options %}
                            <option value="{{ option }}" {% if option == paginated_by %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>

                </div>

            </form>
            <button type="button" class="btn btn-primary" onclick="submitFunction()">Submit</button>

        </div>
    </div>
    {% include "global/pagination_snippet.html" %}

    <div class="table-container">
        <table id="annotation-list" class="table table-sm table-striped">
            <thead class="thead-dark">
            <tr>
                {% for column in active_columns.values %}

                    <th data-column-id="{{ column.id }}">
                        <div class="column-info d-flex bd-highlight">
                            {% if column.query %}<span class="active-filter" title="A filter is active on this column.">f</span>{% endif %}
                            <div class="flex-grow-1"></div>
                            <a class="sort-btn sort-asc {% if column.sorted == 'asc' %}sorted{% endif %}" title="Sort ascending" href="?{% param_replace sort=column.id asc='True' %}">↑</a>
                            <a class="sort-btn sort-desc {% if column.sorted == 'desc' %}sorted{% endif %}" title="Sort descending" href="?{% param_replace sort=column.id asc='False' %}">↓</a>
                        </div>
                        <br>
                        <div class="column-label">{{ column.label }}</div>
                    </th>{% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in table %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell|safe }}</td>{% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        {% include "global/pagination_snippet.html" %}
    </div>


{% endblock %}

{% block end %}
    <script>
        "use strict"

        const form = document.getElementById('form')
        const sortable_selected = document.getElementById('sortable-selected')
        const sortable_available = document.getElementById('sortable-available')

        $(document).ready(function () {
            new Sortable.create(sortable_selected, {
                animation: 150,
                multiDrag: true, // Enable multi-drag
                selectedClass: 'selected', // The class applied to the selected items
                group: 'shared', // set both lists to same group
            })
            new Sortable.create(sortable_available, {
                animation: 150,
                multiDrag: true, // Enable multi-drag
                selectedClass: 'selected', // The class applied to the selected items
                group: 'shared', // set both lists to same group
            })
        })


        $("#annotation-list th").each(function (iColumn, column) {
            const columnId = $(column).data('column-id')
            if (columnId.startsWith('env')) {
                $("#annotation-list tr").each(function (iRow, row) {
                    if (iRow === 0) return
                    const envField = row.children[iColumn]
                    if (envField.textContent.length > 2) {
                        const textContent = envField.textContent.slice(2, -2).split("', '")
                        envField.innerHTML = textContent.map(x => `<span class="badge badge-warning">${x}</span>`).join('')
                    } else {
                        envField.innerHTML = ''
                    }
                })
            } else if (columnId === 'literature_references') {
                $("#annotation-list tr").each(function (iRow, row) {
                    if (iRow === 0) return
                    const envField = row.children[iColumn]
                    if (envField.textContent.length > 2) {
                        const textContent = JSON.parse(envField.textContent.replace(/\'/g, '\"'))
                        console.log(textContent)
                        envField.innerHTML = textContent.map(x => `<a class="badge badge-info" href="${x['url'] || ''}">${x['name'] || ''}</a>`).join('')
                    } else {
                        envField.innerHTML = ''
                    }
                })
            }
        })

        $(document).ready(function () {
            $('.ogb-tag.genome')
                .ogbTooltip()
                .click(function (event) {
                    showGenomeClickMenu(event)
                })
            $('.ogb-tag.organism')
                .ogbTooltip()
                .click(function (event) {
                    showOrganismClickMenu(event)
                })
            $('.ogb-tag.ogb-tag')
                .ogbTooltip()
            $('.active-filter, .sort-asc, .sort-desc').tooltip()
        })

        const activateDropdownSelect = function () {
            setTimeout(function () {
                {% for js in activate_js %}
                    {{ js|safe }}
                {% endfor %}
            }, 10)
        }


        const subbie = function () {
            // copy columns to input
            const selectedColumns = $(form).find('#id_columns #sortable-selected li').map(function () {
                return $(this).data('selector')
            }).get()
            $(form).find('input[name=columns]').attr('value', selectedColumns)


            {% for js in submit_js %}
                {{ js|safe }}
            {% endfor %}


            // remove empty filters
            $(form).find('input[name], select[name]').each(function () {
                if (this.value === '') {
                    this.name = ''
                }
            })

            // print submitted stuff
            console.log($(form).serialize().split('&'))
        }

        $(form).submit(function () {
            subbie()
        })

        const submitFunction = function () {
            console.log(`Form Submitted! Time stamp: ${event.timeStamp}`)
            {#subbie()#}
            $(form).submit()
        }

    </script>
{% endblock %}
