{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/detail.css' %}"/>
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>

    <!-- Plotly https://plot.ly/ -->
    <script src="{% static 'global/js/plotly-latest.min.js' %}"></script>

    <!-- piechart https://anychart.com/ -->
    <script src="{% static 'global/js/Chart.bundle.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()">
    </div>

{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Taxid -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:taxid' slug=genome.taxid.id %}"> TAXID {{ genome.taxid.id }}</a>
            </li>
            <!-- Strain -->
            <li class="breadcrumb-item">
                <a href="{% url 'website:strain' slug=genome.strain %}"> STRAIN {{ genome.strain }}</a>
            </li>
            <!-- Genome -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>GENOME {{ genome }}</span>
            </li>
        </ol>
    </nav>

    <div class="body-push"></div>

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- genome -->
            <span class="type-label">genome:</span>
            <span class="h1" onclick="showGenomeClickMenu(event, 'auto', '{{ genome.taxid }}')">{{ genome.identifier }}</span>

            <!-- strain -->
            <span class="type-label">strain:</span>
            <span class="h2" onclick="showStrainClickMenu(event, 'auto', '{{ genome.taxid }}')">{{ genome.strain }}</span>

            <!-- old identifier -->
            {% if genome.old_identifier %}
                <span class="type-label">old identifier:</span>
                <span class="h3">{{ genome.old_identifier }}</span>
            {% endif %}

            <!-- taxid -->
            {% if genome.taxid %}<br>
                <span class="type-label">species:</span>
                <span class="h3" onclick="showTaxidClickMenu(event, '{{ genome.taxid }}')">
                    {{ genome.taxid }}</span>
                <span class="type-label">taxid:</span>
                <span class="h3" style="{{ genome.taxid.html_style }}"
                      onclick="showTaxidClickMenu(event, '{{ genome.taxid }}')">{{ genome.taxid.id }}</span>
            {% endif %}

            <hr class="featurette-divider">
        </div>

        <!-- representative -->
        <div class="container black-links">
            {% if genome.representative %}
                <div class="alert alert-success" role="alert">
                    This genome is a representative of <a href="{% url 'website:strain' slug=genome.strain %}"
                                                          style="color:darkgreen">{{ genome.strain }}</a>.
                </div>
            {% else %}
                <div class="alert alert-dark" role="alert">
                    Warning: This genome is not a representative of <a href="{% url 'website:strain' slug=genome.strain %}">{{ genome.strain }}</a>.
                </div>
            {% endif %}
        </div>

        {% if genome.strain.restricted %}
            <!-- restricted -->
            <div class="container black-links">

                <div class="alert alert-warning" role="alert">
                    Warning: This strain is restricted.
                </div>

            </div>
        {% endif %}

        {% if genome.contaminated %}
            <!-- restricted -->
            <div class="container black-links">

                <div class="alert alert-danger" role="alert">
                    Warning: This genome is contaminated.
                </div>

            </div>
        {% endif %}


        <!-- tags -->
        <div class="container">

            <hr class="featurette-divider">

            <h3>Tags</h3>

            {% if genome.tags.all.count == 0 %}
                <p>No tags</p>
            {% else %}
                <div class="container flex-container">
                    {% for tag in genome.all_tags.all %}
                        <div class="card" style="width: 18rem; background-color:rgb({{ tag.color }})">
                            <div class="card-body">
                                <h5 class="card-title"
                                    style="color: {% if tag.text_color_white %}white{% else %}black{% endif %}">{{ tag.tag }}</h5>
                                <div class="card-textbox rounded">
                                    <p class="card-text">{{ tag.description|default:"no description" }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <!-- tables -->
        <div class="container">

            <hr class="featurette-divider">

            <h3>Metadata</h3>

            <!-- key parameters -->
            <div data-toggle="collapse" href="#parameters-key-body" aria-expanded="true"
                 aria-controls="parameters-key-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Key Parameters</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}"></th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-key-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for verbose, value in key_parameters %}{% if value != None %}
                        <tr>
                            <th scope="row">{{ verbose }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}{% endfor %}

                    {% if genome.env_broad_scale %}
                        <tr>
                            <th scope="row">env_broad_scale</th>
                            <td>{% for env in genome.env_broad_scale %}{{ env }}{% endfor %}</td>
                        </tr>{% endif %}

                    {% if genome.env_local_scale %}
                        <tr>
                            <th scope="row">env_local_scale</th>
                            <td>{% for env in genome.env_local_scale %}{{ env }}{% endfor %}</td>
                        </tr>{% endif %}

                    {% if genome.env_medium %}
                        <tr>
                            <th scope="row">env_medium</th>
                            <td>{% for env in genome.env_medium %}{{ env }}{% endfor %}</td>
                        </tr>{% endif %}

                    </tbody>
                </table>
            </div>

            <!-- sequencing parameters -->
            <div data-toggle="collapse" href="#parameters-seq-body" aria-expanded="true"
                 aria-controls="parameters-seq-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sequencing Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}"></th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-seq-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for verbose, value in seq_parameters %}{% if value != None %}
                        <tr>
                            <th scope="row">{{ verbose }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- assembly parameters -->
            <div data-toggle="collapse" href="#parameters-ass-body" aria-expanded="true"
                 aria-controls="parameters-ass-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Assembly Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}"></th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-ass-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for verbose, value in ass_parameters %}{% if value != None %}
                        <tr>
                            <th scope="row">{{ verbose }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

            <!-- annotation parameters -->
            <div data-toggle="collapse" href="#parameters-ann-body" aria-expanded="true"
                 aria-controls="parameters-ann-body">
                <table class="table no-bottom-padding">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Annotation Information</th>
                        <th scope="col" class="expand-td"><img src="{% static 'global/ionicons/ios-arrow-down.svg' %}"></th>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

            <div class="collapse" id="parameters-ann-body">
                <table class="table no-top-padding">
                    <tbody>

                    {% for verbose, value in ann_parameters %}{% if value != None %}
                        <tr>
                            <th scope="row">{{ verbose }}</th>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %}{% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

        {% if genome.BUSCO.S %}
            <!-- busco -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>BUSCO</h3>

                <div class="container flex-container">
                    <div class=flex-table">
                        <table class="table table-sm" id="busco-table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" data-toggle="tooltip" data-placement="top"
                                    title="BUSCO: Benchmarking Universal Single-Copy Orthologs"><a
                                        href="https://busco.ezlab.org/" style="color: inherit">BUSCO</a></th>
                                <th scope="col" data-toggle="tooltip" data-placement="top"
                                    title="BUSCO dataset">{{ genome.BUSCO.dataset|default:"dataset undefined" }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-success" data-toggle="tooltip" data-placement="right"
                                title="Complete and single-copy">
                                <th scope="row">Single-copy</th>
                                <td>{{ genome.BUSCO.S }}</td>
                            </tr>
                            <tr class="table-primary" data-toggle="tooltip" data-placement="right"
                                title="Complete but duplicated">
                                <th scope="row">Duplicated</th>
                                <td>{{ genome.BUSCO.D }}</td>
                            </tr>
                            <tr class="table-warning" data-toggle="tooltip" data-placement="right"
                                title="Match with high-identity but incomplete">
                                <th scope="row">Fragmented</th>
                                <td>{{ genome.BUSCO.F }}</td>
                            </tr>
                            <tr class="table-danger" data-toggle="tooltip" data-placement="right"
                                title="No significant matches or score below BUSCO profile.">
                                <th scope="row">Missing</th>
                                <td>{{ genome.BUSCO.M }}</td>
                            </tr>
                            <tr class="table-light" data-toggle="tooltip" data-placement="right"
                                title="Single-copy + duplicated">
                                <th scope="row">Complete</th>
                                <td>{{ genome.BUSCO.C }}</td>
                            </tr>
                            <tr class="table-dark" data-toggle="tooltip" data-placement="right"
                                title="Total BUSCO genes in profile">
                                <th scope="row">Total</th>
                                <td>{{ genome.BUSCO.T }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-pie">
                        <div id="busco-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if included_sequences %}
            <!-- included_sequences -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>Origin of included sequences</h3>

                <div class="container flex-container">
                    <div class=flex-table">
                        <table class="table table-sm" id="busco-table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Species</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody>{% for taxid, html, sci_name, color, percentage in included_sequences %}
                                <tr class="">
                                    <th scope="row">{{ html|safe }}</th>
                                    <td>{{ percentage }}</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="flex-pie">
                        <div id="included-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if excluded_sequences %}
            <!-- excluded_sequences -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>Origin of excluded sequences</h3>

                <div class="container flex-container">
                    <div class=flex-table">
                        <table class="table table-sm" id="busco-table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Species</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody>{% for taxid, html, sci_name, color, percentage in excluded_sequences %}
                                <tr class="">
                                    <th scope="row">{{ html|safe }}</th>
                                    <td>{{ percentage }}</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div id="excluded-pie-chart" class="pie-chart" height="260px" width="260px"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if sixteen_s %}
            <!-- sixteen_s -->
            <div class="container">

                <hr class="featurette-divider">

                <h3>16S</h3>

                <div class="container flex-container">
                    {% for db_name, table in sixteen_s.items %}
                        <h4>Database: {{ db_name }}</h4>
                        {{ table|safe }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- download files -->
        <div class="container black-links">
            <hr class="featurette-divider">
            <h3>Download files</h3>
            <ul>
                <li><a href="/download/{{ genome.assembly_fasta }}">Assembly</a></li>
                <li>Coding sequences (CDS)
                    <ul>
                        <li><a href="/download/{{ genome.cds_faa }}">Protein fasta (faa)</a></li>
                        <li><a href="/download/{{ genome.cds_gbk }}">GenBank (gbk)</a></li>
                        <li><a href="/download/{{ genome.cds_gff }}">General feature format (gff)</a></li>
                        {% if genome.cds_ffn %}
                            <li><a href="/download/{{ genome.cds_ffn }}">Nucleotide fasta (ffn)</a></li> {% endif %}
                        {% if genome.cds_sqn %}
                            <li><a href="/download/{{ genome.cds_sqn }}">Submission-ready annotated sequence (sqn)</a>
                            </li> {% endif %}
                    </ul>
                </li>
                {% if genome.custom_annotations %}
                    <li>Custom annotations
                        <ul>
                            {% for custom_annotation in genome.custom_annotations %}
                                <li><a href="/download/{{ genome.rel_base_path }}/{{ custom_annotation.file }}">{{ custom_annotation.type }}
                                    (from {{ custom_annotation.date }})</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- find gene -->
        <div class="container">
            <hr class="featurette-divider">
            <h3>Find gene</h3>

            <label for="gene-search">Gene: </label>
            <input id="gene-search" value="{{ genome }}_">

            <button type="button" class="btn btn-primary" onclick="go_to_gene($('#gene-search').val())">Submit</button>
        </div>

        <!-- link to annotation search -->
        <div class="container black-links">
            <hr class="featurette-divider">
            <h3>Search for annotations in this genome</h3>

            <a href="{% url 'website:annotation-search' %}?genomes={{ genome }}">Link to annotation search</a>
        </div>


    </section>
{% endblock %}

{% block end %}
    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                title: function () {
                    return $(this).attr('data-species');
                }
            });

            $("#gene-search").autocomplete({
                source: function (request, response) {
                    jQuery.get("/api/search-genes", {
                        term: request.term
                    }, function (data) {
                        response(data);
                    });
                },
                minLength: 3,
                position: {collision: "flip"}
            });

            $(".ogb-tag.taxid").each(function (index) {
                $(this).on("click", function () {
                    showTaxidClickMenu(event)
                })
            })

        });

        function go_to_gene(gene) {
            console.log(gene)
            window.open(`/gene/${gene}`);
        }

        const pie_layout = {
            height: 370,
            width: 370,
            showlegend: false
        };

        const pie_settings = {
            displayModeBar: false
        };

        function load_busco_pie() {
            let data = [{
                values: [{{ genome.BUSCO.S }}, {{ genome.BUSCO.D }}, {{ genome.BUSCO.F }}, {{ genome.BUSCO.M }}],
                labels: ['S (single-copy)', 'D (duplicated)', 'F (fragmented)', 'M (missing)',],
                type: 'pie',
                marker: {
                    colors: ['#8fd19e', '#b8daff', '#ffdf7e', '#ed969e']
                },
            }];

            Plotly.newPlot('busco-pie-chart', data, pie_layout, pie_settings);
        }

        {% if included_sequences %}
            function load_included_pie() {
                let data = [{
                    values: [
                        {% for taxid, html, sci_name, color, percentage in included_sequences %} {{percentage}}, {% endfor %}],
                    labels: [
                        {% for taxid, html, sci_name, color, percentage in included_sequences %} "{{sci_name}}", {% endfor %}],
                    type: 'pie',
                    marker: {
                        colors: [
                            {% for taxid, html, sci_name, color, percentage in included_sequences %} "rgb({{color}})", {% endfor %}]
                    },
                }];


                Plotly.newPlot('included-pie-chart', data, pie_layout, pie_settings);
            }
        {% endif %}

        {% if excluded_sequences %}
            function load_excluded_pie() {
                let data = [{
                    values: [
                        {% for taxid, html, sci_name, color, percentage in excluded_sequences %} {{percentage}}, {% endfor %}],
                    labels: [
                        {% for taxid, html, sci_name, color, percentage in excluded_sequences %} "{{sci_name}}", {% endfor %}],
                    type: 'pie',
                    marker: {
                        colors: [
                            {% for taxid, html, sci_name, color, percentage in excluded_sequences %} "rgb({{color}})", {% endfor %}]
                    },
                }];

                Plotly.newPlot('excluded-pie-chart', data, pie_layout, pie_settings);
            }
        {% endif %}

        window.onload = function () {
            {% if genome.BUSCO %}
                load_busco_pie();
            {% endif %}

            {% if included_sequences %}
                load_included_pie();
            {% endif %}

            {% if excluded_sequences %}
                load_excluded_pie();
            {% endif %}
        };


    </script>

{% endblock %}