{% extends 'global/base.html' %}
{% load ogb_tags %}{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"/>

    {% if sunburst_html %}
        <!-- Plotly -->
        <script src="{% static 'global/js/plotly-latest.min.js' %}"></script>
    {% endif %}

    {% if home_markdown %}
        <!-- Markdown https://marked.js.org/ -->
        <link rel="stylesheet" type="text/css" href="{% static 'global/css/ogb-markdown.css' %}"/>
        <script src="{% static 'global/js/marked.min.js' %}"></script>
    {% endif %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}

    <div id="myDiv"></div>

    {% if home_markdown %}

        <!-- markdown -->
        <div class="container">
            <div id="home-markdown-content" style="display:none">{{ home_markdown }}</div>

            <div id="home-markdown" class="ogb-markdown"></div>
            <script>
                document.getElementById('home-markdown').innerHTML =
                    marked(document.getElementById('home-markdown-content').textContent)
            </script>
        </div>

    {% else %}

        <div id="intro-container" class="container">
            <!-- full logo -->
            <img src="{% static 'global/customicons/ogb-full.svg' %}" id="ogb-logo-full">

            <!-- button group with links -->
            <div id="ogb-btns" aria-label="OpenGenomeBrowser links panel">
                <a id="ogb-btn-demo" type="button" class="ogb-btn"
                   href="https://opengenomebrowser.bioinformatics.unibe.ch/"
                >Demo</a>
                <a id="ogb-btn-youtube" type="button" class="ogb-btn"
                   href="https://www.youtube.com/watch?v=rkWREfcwPKQ"
                >Youtube</a>
                <a id="ogb-btn-docs" type="button" class="ogb-btn"
                   href="https://opengenomebrowser.github.io/"
                >Docs</a>
                <a id="ogb-btn-source" type="button" class="ogb-btn"
                   href="https://github.com/opengenomebrowser/opengenomebrowser"
                >Source</a>

            </div>
        </div>

    {% endif %}


    {% if sunburst_html %}
        <div class="container" id="sunburst-container">
            <hr class="featurette-divider">
            <h3>Available genomes</h3>
            {{ sunburst_html|safe }}
        </div>
    {% endif %}

    <div class="container">

        <!-- credit -->

        {% for credit_type, entries in credit.items %}

            <hr class="featurette-divider">

            <h3>{{ credit_type }}</h3>

            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 black-links">

                {% for entry in entries %}
                    <div class="col mb-4">
                        <div class="card col mb-4">
                            <div class="row no-gutters">
                                <div class="card-img-top {{ entry.img_cls }}">
                                    <div class="img-container">
                                        <a href="{{ entry.href }}">
                                            <img src="{{ entry.img }}"
                                                 alt="{{ entry.name }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ entry.href }}">{{ entry.name }}</a></h5>
                                    <p class="card-text"><small class="text-muted">{{ entry.role }}</small></p>
                                    <ul class="list-group list-group-flush">
                                        {% for did in entry.did %}
                                            <li class="list-group-item">{{ did }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% endfor %}

    </div>


{% endblock %}

{% block end %}{% if sunburst_html %}

    <script type="application/javascript">
        // hide speech bubble on first click anywhere
        const hideSpeechBubble = function () {
            document.getElementById('speech-bubble').style['display'] = 'none'
            document.removeEventListener('click', hideSpeechBubble)
        }
        document.addEventListener('click', hideSpeechBubble)

        {{ sunburst_js|safe }}

        const applySunburstColors = function () {
            $('.main-svg .surface').each(function () {
                const label = this.nextElementSibling.textContent
                if (label === '-') {
                    this.style.fill = 'transparent'
                    this.nextElementSibling.textContent = ''
                } else {
                    const color = taxToCol[label][0]
                    const textColorWhite = taxToCol[label][1]
                    this.style.fill = 'rgb(' + color + ')'
                    this.nextElementSibling.firstChild.style.fill = textColorWhite ? 'white' : 'black'
                }
            })
        }

        const suburstContainer = document.getElementById('sunburst-container')
        let sunburstPlotSize
        let resizeTimer

        const redrawSunburst = function () {
            sunburstPlotSize = suburstContainer.offsetWidth
            Plotly.relayout(sunburstId, {
                width: sunburstPlotSize,
                height: sunburstPlotSize
            }).then(() => {
                    applySunburstColors()
                }
            )
        }

        redrawSunburst()

        $(window).on('resize', function (e) {
            if (sunburstPlotSize === suburstContainer.offsetWidth) return
            if (typeof resizeTimer !== 'undefined') {
                clearTimeout(resizeTimer)
            }
            resizeTimer = setTimeout(function () {
                redrawSunburst()
            }, 250)    // Timer value for checking resize event start/stop
        })


        const extractFromPointData = function (data) {
            const label = data.label
            const depth = (data.currentPath.slice(1).match(/\//g) || []).length
            const taxRank = sunburstColumns[depth]
            const rank = taxRank.charAt(3).toUpperCase() + taxRank.slice(4)
            const selector = `@${taxRank}:${label}`
            const magicString = '@' + taxRank + ':' + data.label
            const colorData = taxToCol[label] || [undefined, undefined]
            const color = colorData[0]
            const textColorWhite = colorData[1]
            return {label, depth, taxRank, rank, selector, magicString, color, textColorWhite}
        }

        document.getElementsByClassName('plotly-graph-div')[0].on('plotly_sunburstclick', function (evt) {
            if (evt.points.length === 1) {
                data = extractFromPointData(evt.points[0])
                showTaxidClickMenu(evt.event, data.label, data.taxRank)
            }
            return false
        })
            .on('plotly_hover', function (evt) {
                const tooltip = document.getElementsByClassName('main-svg')[2]
                const hoverText = tooltip.getElementsByClassName('hovertext')[0]
                const pathElement = hoverText.children[0]
                const textElement = hoverText.children[1]

                if (evt.points.length === 1) {
                    data = extractFromPointData(evt.points[0])
                    if (data.label === '-') {
                        tooltip.style.opacity = '0'
                    } else {
                        pathElement.style.fill = 'rgb(' + data.color + ')'
                        textElement.style.fill = data.textColorWhite ? 'white' : 'black'
                        textElement.textContent = textElement.textContent.replace('Superkingdom', data.rank + '\n')
                        tooltip.style.opacity = '1'
                    }
                }
            })
    </script>

{% endif %}{% endblock %}