{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/index.css' %}"/>

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <!-- full logo -->

    <div class="container">
        <a href="{% url 'website:genomes' %}">
            <div class="logo-container">
                <img src="{% static 'global/customicons/ogb-full.svg' %}" id="ogb-logo-full">
            </div>
        </a>

        <div class=" logo-container black-links" style="padding-top:3rem">
            <a href="{% url 'website:genomes' %}">
                click here to start browsing genomes
            </a>
        </div>
    </div>


    <div class="container">

        {% for credit_type, entries in credit.items %}

            <hr class="featurette-divider">

            <h3>{{ credit_type }}</h3>

            <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 black-links">

                {% for entry in entries %}
                    <div class="col mb-4">
                        <div class="card col mb-4">
                            <div class="row no-gutters">
                                <div class="card-img-top {{ entry.img_cls }}">
                                    <div class="img-container">
                                        <a href="{{ entry.href }}">
                                            <img src="{{ entry.img }}"
                                                 alt="{{ entry.name }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{{ entry.href }}">{{ entry.name }}</a></h5>
                                    <p class="card-text"><small class="text-muted">{{ entry.role }}</small></p>
                                    <ul class="list-group list-group-flush">
                                        {% for did in entry.did %}
                                            <li class="list-group-item">{{ did }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% endfor %}

    </div>


{% endblock %}

{% block end %}

{% endblock %}