{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>

    <link href="{% static 'kegg/css/kegg.css' %}" rel="stylesheet"/>

    <!-- KEGG SVG library -->
    <script src="{% static 'kegg/js/kegg-svg-lib.js' %}"></script>
    <script src="{% static 'kegg/js/chroma.min.js' %}"></script>
    <script src="{% static 'kegg/js/html2canvas.min.js' %}"></script>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'kegg/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'kegg/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'kegg/js/jquery.tag-editor.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-light" onclick="saveDivAsPng('kegg-container')">Save as PNG</button>
    </div>

{% endblock %}

{% block body %}

    <section>

        <form>
            {% csrf_token %}
            <div class="form-group row">
                <label for="get-map" class="col-sm-2 col-form-label" style="white-space: nowrap">KEGG map:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="get-map"
                           value="{% if key_map %}{{ key_map }} : {{ map_name }}{% endif %}">
                </div>
            </div>

            <div class="form-group">
                <label for="get-members">Member:</label>
                <input type="text" class="form-control" id="get-members" value="{{ key_members|join:", " }}">
            </div>

            <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
        </form>

        <hr class="featurette-divider">

        <form>
            <div class="form-group row">
                <label for="real-map" class="col-sm-2 col-form-label" style="white-space: nowrap">KEGG map:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="real-map" value="-" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="real-members">Member:</label>
                <div class="form-control"
                     style="height: unset; padding: unset; background-color: #e9ecef; border: 1px solid #ced4da"
                     id="real-members">
                </div>
            </div>
        </form>

    </section>

    <section style="text-align: center">

        <!-- kegg svg -->
        <div id="kegg-container"></div>

    </section>
{% endblock %}

{% block end %}
    <script>
        "use strict";

        let current_map_id = "";
        let current_members = [];

        let member_to_species;

        function loadMap(map_id, members, push_state) {
            console.log('CHANGE MAP:     ', current_map_id, '----->', map_id);
            console.log('CHANGE MEMBER:  ', current_members, '----->', members);

            if (map_id === current_map_id && members.sort().join('+') === current_members.sort().join('+')) {
                console.log('no change');
                return
            }

            let loadSVG = async function () {
                console.log('load new svg');

                if (map_id !== current_map_id) {
                    $('#kegg-svg').remove();
                    $('#kegg-container').load(`../static/kegg/svg/${map_id}.svg`);

                    await sleep(500);
                }
                activateTooltips()
            };

            let activateTooltips = async function () {
                if (map_id !== current_map_id) {
                    $('[data-toggle="tooltip"]').tooltip();
                }

                colorizeMap()
            };

            let colorizeMap = async function () {
                if (members !== current_members) {
                    colorize_kegg(map_id, members);
                }

                finalize()
            };

            let finalize = async function () {
                if (push_state) {
                    let state = [null, []];
                    let url = '';

                    if (map_id !== "") {
                        state[0] = map_id;
                        url += `?map=${map_id}`
                    }
                    if (members.length !== 0) {
                        state[1] = members;
                        if (map_id === "") {
                            url += `?members=${members.join('+')}`
                        } else {
                            url += `&members=${members.join('+')}`
                        }
                    }

                    history.pushState(state, null, url);
                }

                if (map_id) {
                    $.getJSON('{% url "website:api-autocomplete-kegg-map" %}', {'term': map_id}, function (data) {
                        document.getElementById('real-map').value = data[0]['label'];
                    });

                    $.getJSON('{% url "website:api-member-identifier-to-species" %}', {'members[]': members}, function (data) {
                        delete data.success;

                        $('#real-members').empty();
                        $('#real-members').append(create_read_only_strain_div(Object.keys(data), data))

                    });
                }

                current_map_id = map_id;
                current_members = members;
            };

            if (map_id == "") {
                // no map to display
                $('#kegg-svg').remove();
                $('#kegg-container').append($('<div>', {id: 'kegg-svg'}));

                finalize();

                return
            }

            loadSVG()

        }

        $(document).ready(function () {
            let original_map_id = {% if key_map %}'{{ key_map }}'{% else %} null {% endif %};
            let original_members = [{% if key_members %} '{{ key_members|join:"', '" }}' {% else %}{% endif %}];
            loadMap(original_map_id, original_members, true);
            init_autocomplete_members();
        });

        function submit_function() {
            let members = $('#get-members').val().split(',');
            let map_id = $('#get-map').val().substr(0, 5);

            $.when(validate_keggmap(map_id), validate_members(members)).done(function (keggmap_valid, members_valid) {
                keggmap_valid = keggmap_valid[2].responseJSON['success'];
                members_valid = members_valid[2].responseJSON['success'];

                if (keggmap_valid) {
                    $('#get-map').removeClass('is-invalid');
                } else {
                    $('#get-map').addClass('is-invalid')
                }

                if (members_valid) {
                    $('#get-members').next().removeClass('is-invalid');
                } else {
                    $('#get-members').next().addClass('is-invalid')
                }

                if (keggmap_valid && members_valid) {
                    loadMap(map_id, members, true);
                }

            });
        }


        window.addEventListener('popstate', function (e) {
                // manage history stack
                let map_id, members;

                if (e.state == null) {
                    map_id = '{{ map_id }}';
                    members = [{% if key_members %} '{{ key_members|join:"', '" }}' {% else %} {% endif %}];
                } else {
                    map_id = e.state[0];
                    members = e.state[1];
                }

                loadMap(map_id, members, false);
            }
        );

        function init_autocomplete_members() {
            // http://flaviusim.com/blog/AJAX-Autocomplete-Search-with-Django-and-jQuery/
            $("#get-map").autocomplete({
                source: '{% url "website:api-autocomplete-kegg-map" %}',
                minLength: 2,
            });

            // https://goodies.pixabay.com/jquery/tag-editor/demo.html
            $("#get-members").tagEditor({
                autocomplete: {
                    source: '{% url "website:api-autocomplete-genome-identifier" %}',
                    minLength: 2
                },
                forceLowercase: false,
                onChange: on_members_change
            });

            let tag_editor_objects = $('#get-members').tagEditor('getTags')[0];

            on_members_change(tag_editor_objects.field, tag_editor_objects.editor, tag_editor_objects.tags);
        }

        function on_members_change(field, editor, tags) {
            $.getJSON('{% url "website:api-member-identifier-to-species" %}', {'members[]': tags}, function (data) {
                delete data.success;

                member_to_species = data;

                let entries = $('li', editor).slice(1);  // remove first placeholder element

                entries.each(function () {
                    let li = $(this);
                    let member = li[0].innerText.substring(3);

                    let child_1 = li.children()[1];
                    child_1.setAttribute('data-species', data[member]['sciname']);
                    child_1.setAttribute('data-toggle', 'tooltip');
                    child_1.setAttribute('title', data[member]['sciname']);
                    $(child_1).tooltip();

                    let child_2 = li.children()[2];
                    child_2.setAttribute('data-species', data[member]['sciname']);
                });
            });
        }


        function colorize_kegg(map_id, members) {
            if (members.length === 0) {
                clearMap();
                return
            }

            $.getJSON('{% url "website:api-get-kegg-annos" %}', {
                    'map_id': map_id,
                    'members[]': members
                }, function (data) {
                    // check if map_id and members are valid
                    if (Object.keys(data).length === 0) {
                        alert("sth went wrong")

                    } else if (Object.keys(data).length === 1) {

                        let strain;
                        for (strain in data) ; // read: strain = data[0]

                        //highlightKeggMap({
                        //    color: 'red',
                        //    annotations_to_highlight: data[strain]
                        //});

                        gradientKeggMap({
                            colors: ['red', 'red'],  // one strain = 100 % = red
                            strains: data
                        });
                    } else {
                        gradientKeggMap({
                            colors: ['yellow', 'red'],
                            strains: data
                        });
                    }
                }
            )
        }

        // overwrite kegg-svg-lib.js' showKeggMenu function
        function showKeggMenu(event, element) {
            let cm = new ContextMenu(event, element, 'context-menu');

            // apply gradient info
            let has_gradient_info = element.hasAttribute('data-strains-have') && element.getAttribute('data-strains-have') !== "";
            let has_negative_strains = element.getAttribute('data-strains-lack') !== "";
            let annos_to_strains, lack, have;
            if (has_gradient_info) {
                cm.appendHeader('Coverage');
                has_gradient_info = true;
                annos_to_strains = JSON.parse(element.getAttribute('data-annos-to-strains'));

                have = element.getAttribute('data-strains-have').split(",");

                if (has_negative_strains) {
                    lack = element.getAttribute('data-strains-lack').split(",")
                } else {
                    lack = []
                }

                // create percentage with 1 decimal
                let percentage = Math.round(have.length / (have.length + lack.length) * 1000) / 10;

                let fill_color = element.childNodes[1].attributes.fill.value;

                let gradient_entry = $('<a>', {
                    class: 'dropdown-item kegg-dropdown-item',
                    text: `${percentage} % (${have.length} out of ${have.length + lack.length})`,
                    css: {
                        'background-color': fill_color,
                    },
                });
                cm.appendElement(gradient_entry);
            }

            cm.appendHeader('Annotations');

            // append annotations
            for (let a in annotation_types) {
                let shape_annos = element.getAttribute('data-' + annotation_types[a]).split(',');
                if (shape_annos[0] !== "") {
                    for (let anno in shape_annos) {
                        anno = shape_annos[anno];
                        let anno_text = anno;
                        if (has_gradient_info) {
                            anno_text = `${anno} (${annos_to_strains[anno].length})`
                        }

                        let div = $('<div>', {
                            css: {'display': 'inline-flex'}
                        });

                        div.append($('<a>', {
                            text: anno_text,
                            onclick: `CopyToClipboard('${anno}')`,
                            class: "dropdown-item context-menu-icon context-menu-icon-copy", target: "_blank"
                        }));

                        let expand_div = $('<div>', {
                            class: 'btn-group dropright',
                        });

                        let expand_button = $('<button>', {
                            class: 'btn btn-secondary dropdown-toggle',
                            'data-toggle': "dropdown",
                            'aria-haspopup': "true",
                            'aria-expanded': "false",
                            text: '',
                            css: {
                                'font-size': '1rem',
                                'padding': '0rem 0.8rem'
                            },
                        });

                        let expand_items_div = $('<div>', {
                            class: 'dropdown-menu',
                            style: 'width: 400px'
                        });

                        let expand_item_header = $('<h6>', {
                            text: "Description",
                            class: 'dropdown-header context-menu-header'
                        });

                        let expand_item_description = $('<a>', {
                            class: "dropdown-item context-menu-icon context-menu-icon-copy",
                            css: {'display': 'flex', 'flex-wrap': 'wrap', 'white-space': 'break-spaces'},
                            text: `-`,
                        });

                        $.getJSON('{% url "website:api-get-anno-description" %}', {'annotations[]': [anno]}, function (data) {
                            expand_item_description.text(data[anno])
                        });

                        let expand_item_goto_kegg = $('<a>', {
                            class: "dropdown-item context-menu-icon context-menu-icon-world",
                            css: {'display': 'flex', 'flex-wrap': 'wrap'},
                            text: `View ${anno} on KEGG`,
                            href: annotation_types_info[annotation_types[a]]['href'] + anno,
                            target: "_blank",
                        });

                        expand_div.append(expand_button);
                        expand_items_div.append(expand_item_header);
                        expand_items_div.append(expand_item_description);
                        expand_items_div.append(expand_item_goto_kegg);

                        if (has_gradient_info && annos_to_strains[anno].length) {
                            let strains = annos_to_strains[anno];
                            let expand_item_header = $('<h6>', {
                                text: `Positive strains (${strains.length})`,
                                class: 'dropdown-header context-menu-header'
                            });

                            let expand_item_strains = create_read_only_strain_div(strains, member_to_species);

                            expand_items_div.append(expand_item_header);
                            expand_items_div.append(expand_item_strains);

                        }

                        expand_div.append(expand_items_div);
                        div.append(expand_div);
                        cm.appendElement(div);
                    }
                }
            }


            if (has_gradient_info) {
                cm.appendHeader(`Positive strains (${have.length})`);
                cm.appendElement(create_read_only_strain_div(have, member_to_species));

                if (has_negative_strains) {
                    cm.appendHeader(`Negative strains (${lack.length})`);
                    cm.appendElement(create_read_only_strain_div(lack, member_to_species));
                }
            }

            event.stopPropagation();

            cm.show();
        }


    </script>
{% endblock %}