{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link href="{% static 'global/css/annotype_color.css' %}" rel="stylesheet"/>
    <link href="{% static 'pathway-maps/css/pathway-maps.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <!-- Pathway SVG library -->
    <script src="{% static 'pathway-maps/js/PathwaySvgLib.js' %}"></script>
    <script src="{% static 'pathway-maps/js/chroma.min.js' %}"></script>
    <script src="{% static 'pathway-maps/js/html2canvas.min.js' %}"></script>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

    <hr>

    {% if map and groups_of_genomes %}
        <div class="sidebar-subcontent form-check form-check-inline">
            <div>
                <a>Change pathway colors:</a>
            </div>

            <div>
                <label class="form-check-label" for="color-not-covered"><a>not covered:</a></label>
                <input class="form-check-input" type="color" id="color-not-covered" value="#808080" disabled>  <!-- grey -->

                <label class="form-check-label" for="color-not-covered-toggle"> <a>transparent</a></label>
                <input class="form-check-input" type="checkbox" value="" id="color-not-covered-toggle"
                       onchange="document.getElementById('color-not-covered').disabled = this.checked;" checked>  <!-- transparent -->
            </div>

            <div>
                <label class="form-check-label" for="color-gradient-start"><a>gradient start:</a></label>
                <input class="form-check-input" type="color" id="color-gradient-start" value="#FFFF00">  <!-- yellow -->

                <label class="form-check-label" for="color-gradient-end"><a>gradient end:</a></label>
                <input class="form-check-input" type="color" id="color-gradient-end" value="#FF0000">  <!-- red -->
            </div>

            <div>
                <label class="form-check-label" for="color-all-covered"><a>all covered:</a></label>
                <input class="form-check-input" type="color" id="color-all-covered" value="#808080" disabled>  <!-- grey -->

                <label class="form-check-label" for="color-all-covered-toggle"> <a>disabled</a></label>
                <input class="form-check-input" type="checkbox" value="" id="color-all-covered-toggle"
                       onchange="document.getElementById('color-all-covered').disabled = this.checked;" checked>  <!-- none -->
            </div>
        </div>

        <div class="sidebar-subcontent form-check form-check-inline">
            <button type="button" class="btn btn-danger" onclick="writeColors(defaultColors)" style="margin-right: 1rem;">
                Reset colors
            </button>

            <button type="button" class="btn btn-success" onclick="applyColors()">
                Apply colors
            </button>
        </div>

        <hr>

        <div class="sidebar-subcontent form-check form-check-inline">
            <a>Download coverage data:</a>
        </div>
        <div class="sidebar-subcontent form-check form-check-inline">
            <button type="button" class="btn btn-secondary" onclick="exportShapeTable()" style="margin-right: 1rem;">
                Shape table
            </button>
            <button type="button" class="btn btn-secondary" onclick="exportAnnotationTable()">
                Annotation table
            </button>
        </div>

        <hr>
    {% endif %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <a>Download pathway map:</a>
    </div>
    <div class="sidebar-subcontent form-check form-check-inline">
        <button type="button" class="btn btn-secondary"
                onclick="savePng(document.getElementById('pathway-map-container').firstChild, `${mapSlug}.png`)" style="margin-right: 1rem;">
            Save as PNG
        </button>
        <button type="button" class="btn btn-secondary"
                onclick="saveSvg(document.getElementById('pathway-map-container').firstChild, `${mapSlug}.svg`)">
            Save as SVG
        </button>
    </div>

{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <form>
                {% csrf_token %}
                <div class="form-group row">
                    <label for="get-map" class="col-sm-2 col-form-label" style="white-space: nowrap">Pathway Map:</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="get-map"
                                   value="{% if map %}{{ map.slug }} : {{ map.title }}{% endif %}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        style="height: 38px" aria-expanded="false" onclick="rankPathwaysDropdown()">Select
                                </button>
                                <div id="score-pathways-dropdown" class="dropdown-menu dropdown-menu-right">
                                    <div id="score-pathways-dropdown-spinner" class="dropdown-item" style="text-align: center" hidden>
                                        <div class="spinner-border text-dark" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div id="score-pathways-dropdown-message" style="max-height: 30rem;overflow: auto"></div>
                                    <div id="score-pathways-dropdown-content" style="max-height: 30rem;overflow: auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="query-genomes"></div>

                <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>

                <button type="button" class="btn-sm btn-success float-right" onclick="addGenomesGroup(queryGenomes)" title=""
                        data-original-title="Add group">Add group
                </button>

            </form>

            {% if map %}
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>

                <form id="real-div" class="form-group collapse">
                    <div class="form-group row">
                        <label for="real-map" class="col-sm-2 col-form-label" style="white-space: nowrap">Pathway Map:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="real-map" value="{{ map.slug }} : {{ map.title }}" readonly>
                        </div>
                    </div>

                    {% for magic_query_manager in magic_query_managers %}
                        <div>
                            <label for="real-genomes-{{ forloop.counter }}">Genomes
                                (group {{ forloop.counter }}): {{ magic_query_manager.all_genomes|length }} genomes</label>
                            <div class="read-only-div" id="real-genomes-{{ forloop.counter }}">
                                {% for genome in magic_query_manager.all_genomes %}{{ genome.html|safe }}{% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </form>

                </div>
            {% endif %}

    </section>

    <section style="padding-top: 1rem">

        <div id="center-content">
            <div id="pathway-map-container">
                <!-- pathway map svg -->
            </div>
        </div>

    </section>
{% endblock %}

{% block end %}
    {{ genome_to_visualization|json_script:"genome_to_visualization" }}

    <script>
        "use strict"
        const local_genome_to_visualization = JSON.parse(document.getElementById('genome_to_visualization').textContent)

        const type_dict = {{ type_dict|safe }}

        const initialQueries = {{ initial_queries|safe }}

        const initialGenomes = [{% for magic_query_manager in magic_query_managers %}[
            {% for genome in magic_query_manager.all_genomes %}"{{ genome.identifier }}", {% endfor %}],{% endfor %}]

        const queryGenomes = $('#query-genomes')

        const defaultColors = {
            'color-not-covered': 'transparent',
            'color-gradient-start': '#FFFF00',
            'color-gradient-end': '#FF0000',
            'color-all-covered': null
        }

        const mapSlug = "{{ map.slug }}"

        $(document).ready(function () {
            if (initialQueries.length == 0) {
                addGenomesGroup(queryGenomes)  // add empty group
            } else {
                for (const genomes of initialQueries) {
                    addGenomesGroup(queryGenomes, genomes)
                }
            }
        })


        $(document).ready(function () {
            const colors = readColors()  // get default colors or cookie-colors
            writeColors(colors)  // write them to the input fields
        })

        let colorPathway = function () {
            const colorDict = readColors()
            let colors = [colorDict['color-not-covered'], colorDict['color-gradient-start'], colorDict['color-gradient-end']]
            if (colorDict['color-all-covered']) {
                colors.push(colorDict['color-all-covered'])
            }

            {% if map and groups_of_genomes %}
                highlightGroupsOfOrganisms(
                    document.getElementById('pathway-map-container').firstChild,  // svg
                    {{ groups_of_genomes|safe }},  // groupsOfOrganisms
                    colors
                )
            {% else %}
                console.log('Dummy function: Cannot colorize map because map or groupsOfOrganisms missing. colors:', colors)
            {% endif %}
        }

        function readColors() {
            // return cookie-colors (or default colors)
            const cookieColors = read_cookie('pathway-colors')
            return Object.assign({}, defaultColors, cookieColors)  // overwrite missing values with default values
        }

        function applyColors() {
            // read colors from input fields

            let colors = {
                'color-not-covered': $('#color-not-covered-toggle').prop('checked') ? 'transparent' : $('#color-not-covered').val(),
                'color-gradient-start': $('#color-gradient-start').val(),
                'color-gradient-end': $('#color-gradient-end').val(),
                'color-all-covered': $('#color-all-covered-toggle').prop('checked') ? null : $('#color-all-covered').val()
            }

            // write to cookie
            write_cookie('pathway-colors', colors, 14400)  // 10 days
            // apply colors to pathway map
            colorPathway()
        }

        function writeColors(colors) {
            // write colors to input fields
            const isTransparent = colors['color-not-covered'] === 'transparent'
            $('#color-not-covered-toggle').prop('checked', isTransparent)
            $('#color-not-covered')
                .val(isTransparent ? '#808080' : colors['color-not-covered'])
                .prop('disabled', isTransparent)

            $('#color-gradient-start').val(colors['color-gradient-start'])
            $('#color-gradient-end').val(colors['color-gradient-end'])

            const allCoveredColorDisabled = !colors['color-all-covered']
            $('#color-all-covered-toggle').prop('checked', allCoveredColorDisabled)
            $('#color-all-covered')
                .val(allCoveredColorDisabled ? '#808080' : colors['color-all-covered'])
                .prop('disabled', allCoveredColorDisabled)
        }


        $(document).ready(function () {
            $("#get-map").autocomplete({
                source: '{% url "website:api-autocomplete-pathway" %}',
                minLength: 2,
            })

            $('.ogb-tag')
                .ogbTooltip()
                .click(function () {
                    showGenomeClickMenu(event)
                })

            {% if map %}
                $('#pathway-map-container').load(`/files_html/{{ PATHWAY_MAPS_RELATIVE }}/{{ map.filename }}`.replace(/\s/g, '%20'), function () {
                    $('.shape')
                        .ogbTooltip()
                        .click(function (event) {
                            showMapClickMenu(event, this)
                        })

                    {% if groups_of_genomes %}
                        colorPathway()
                    {% endif %}

                })
            {% endif %}
        })

        function exportAnnotationTable() {
            // export pathway map information as table
            let table = 'data:text/csv;charset=utf-8,'
            let groupIds = []
            let genomes = []
            initialGenomes.forEach(function (orgs, i) {
                groupIds.push(...Array(orgs.length).fill(`g${i + 1}`))
                genomes.push(...orgs)
            })
            table += "\t\t\t\t" + groupIds.join("\t") + "\r\n"
            table += "shapeID\ttype\tname\tdescription\t" + genomes.join("\t") + "\r\n"

            let shapeCount = 1
            $('.shape').each(function () {
                const shape = this
                $($(this).data('annotations')).each(function () {
                    const anno = this
                    let line = [shapeCount, anno['type'], anno['name'], ('description' in anno) ? decodeURIComponent(anno['description']) : '']
                    genomes.map(function (genome, i) {
                        line.push(anno['organisms'][groupIds[i]]['covering'].has(genome))
                    })
                    table += line.join("\t") + "\r\n"
                })
                shapeCount += 1
            })
            saveUriAs(encodeURI(table), `${mapSlug}-annotations.tsv`)
        }

        function exportShapeTable() {
            // export pathway map information as table
            let table = 'data:text/csv;charset=utf-8,'
            let groupIds = []
            let genomes = []
            initialGenomes.forEach(function (orgs, i) {
                groupIds.push(...Array(orgs.length).fill(`g${i + 1}`))
                genomes.push(...orgs)
            })
            table += "\t\t" + groupIds.join("\t") + "\r\n"
            table += "shapeID\tdescription\t" + genomes.join("\t") + "\r\n"

            let shapeCount = 1
            $('.shape').each(function () {
                const shape = this
                const dataOrganisms = $(shape).data('organisms')
                let line = [shapeCount, $(shape).data('original-title')]
                genomes.map(function (genome, i) {
                    line.push(dataOrganisms[groupIds[i]]['covering'].has(genome))
                })
                table += line.join("\t") + "\r\n"
                shapeCount += 1
            })
            saveUriAs(encodeURI(table), `${mapSlug}-shapes.tsv`)
        }

        function rankPathwaysDropdown() {
            const dropdown = $('#score-pathways-dropdown')
            const dropdownMessage = $('#score-pathways-dropdown-message')
            const dropdownContent = $('#score-pathways-dropdown-content')
            const spinner = $('#score-pathways-dropdown-spinner')
            spinner.attr('hidden', false)

            let groupsOfGenomes = {}
            let counter = 1
            queryGenomes.find('.get-genomes').each(function () {
                const genomes = extractQuery(this)
                if (genomes.length > 0) { // skip empty groups
                    groupsOfGenomes[`g${counter}`] = genomes
                    counter += 1
                }
            })

            $.post('/api/score-pathway-maps/', groupsOfGenomes, function (data, statusText, xhr) {
                spinner.attr('hidden', true)
                dropdownMessage.empty()
                dropdownContent.empty()

                if (xhr.status !== 200 || data['success'] !== 'true') {
                    let msg = 'result' in data ? data['result'] : ''
                    dropdownMessage.append(`<a class="dropdown-item bg-warning">Failed to get ranking. ${msg}</a>`)
                } else {
                    dropdownMessage.append(`<a class="dropdown-item bg-success">${data['message']}</a>`)
                    $(data['result']).each(function () {

                        let score = ''
                        if ('score' in this && this['score'] !== 0 && this['score'] !== 'none') {
                            score = `<button type="button" class="btn btn-outline-secondary btn-sm" disabled>score:${this['score'].toFixed(4)}</button>`
                        }
                        dropdownContent.append(`
                    <div class="dropdown-item pathway-dropdown">
                        <p>${this['slug']} : ${this['title']}</p>
                        <div>
                            ${score}
                            <button type="button" class="btn btn-primary btn-sm" data-slug="${this['slug']}">open</button>
                        </div>
                    </div>`)
                    })
                    dropdown.find('.pathway-dropdown').on("click", function (event) {
                        $('#get-map').val(this.children[0].textContent)
                    })
                    dropdown.find('.btn-primary').on("click", function (event) {
                            data = groupsOfGenomes
                            data['map'] = $(this).data('slug')
                            redirect('/pathway/?postrequest=true', data, '_blank')
                            event.stopPropagation()
                        }
                    )


                }

                window.scrollTo(window.scrollX + 1, window.scrollY)  // update position of dropdown
            }, "json")
        }

        function submit_function() {
            const map_slug = $('#get-map').val().split(' : ')[0]
            let groupsOfGenomes = []
            let allGenomes = new Set()
            queryGenomes.find('.get-genomes').each(function () {
                const genomes = extractQuery(this)
                groupsOfGenomes.push(genomes)
                allGenomes = new Set([...allGenomes, ...genomes])
            })
            allGenomes = Array.from(allGenomes)

            $.when(validate_pathwaymap(map_slug), validate_genomes(allGenomes)).done(function (map_valid, genomes_valid) {
                map_valid = map_valid[2].responseJSON['success']
                genomes_valid = genomes_valid[2].responseJSON['success']

                console.log(map_valid, genomes_valid)

                if (map_valid) {
                    $('#get-map').removeClass('is-invalid')
                } else {
                    $('#get-map').addClass('is-invalid')
                }

                if (genomes_valid) {
                    $('.get-genomes').removeClass('is-invalid')
                } else {
                    $('.get-genomes').addClass('is-invalid')
                }

                if (map_valid && genomes_valid) {

                    let data = {'map': map_slug}
                    groupsOfGenomes.forEach(function (genomes, i) {
                        data[`g${i + 1}`] = genomes
                    })

                    goToPageWithData('/pathway', data)
                }
            })
        }

        let showMapClickMenu = function (event, shape) {
            console.log('showMapClickMenu event:', event, 'shape', shape)
            const dataGenomes = $(shape).data('organisms')
            const dataAnnotations = $(shape).data('annotations')

            // initiate context menu
            let cm = new ClickMenu(event, 'map-context-menu')

            // coverage
            let isCovered = false
            for (const [groupId, genomes] of Object.entries(dataGenomes)) {
                const covering = dataGenomes[groupId]['covering'].size
                if (covering > 0) {
                    isCovered = true
                    break
                }
            }

            // coverage
            if (isCovered) {
                cm.appendHeader('Coverage')

                for (const [groupId, genomes] of Object.entries(dataGenomes)) {
                    const covering = genomes['covering'].size
                    const notCovering = genomes['not-covering'].size
                    const total = covering + notCovering
                    let relative = 0
                    let percentage = 0
                    if (total !== 0) {
                        relative = covering / total
                        percentage = Math.round(covering / total * 1000) / 10
                    }
                    const color = covering === 0 ? 'lightgrey' : chroma.mix('yellow', 'red', relative)

                    // coverage percentage
                    let el = `
                    <div class="dropdown-item" style="background-color: ${color}" data-toggle="collapse" href="#collapse-strains-${groupId}" role="button" aria-expanded="false" aria-controls="collapse-strains-${groupId}">
                        ${groupId}: ${percentage} % (${covering} out of ${total})
                        <img src="/static/global/ionicons/ios-arrow-down.svg" style="height: 1.5rem" class="float-right">
                    </div>
                    <div class="collapse" id="collapse-strains-${groupId}" style="margin: 0 0.2rem 1rem 0.2rem">
`

                    // covering genomes
                    if (covering > 0) {
                        el += `<h6 class="dropdown-header context-menu-header" style="padding-bottom: 0.1rem">Positive genomes ${groupId}</h6>`
                        el += $("<div/>").append(createReadOnlyGenomeDiv(Array.from(genomes['covering']), local_genome_to_visualization, 'positive', '#map-context-menu')).html()
                    }

                    // non-covering genomes
                    if (notCovering > 0) {
                        el += `<h6 class="dropdown-header context-menu-header" style="padding-bottom: 0.1rem">Negative genomes ${groupId}</h6>`
                        el += $("<div/>").append(createReadOnlyGenomeDiv(Array.from(genomes['not-covering']), local_genome_to_visualization, 'positive', '#map-context-menu')).html()
                    }

                    el += `</div>`

                    cm.appendElement(el)
                }
            }

            // annotations
            cm.appendHeader('Annotations')
            $.each(dataAnnotations, function (index) {
                let nCovered = new Array()
                for (const [groupId, genomes] of Object.entries(dataGenomes)) {
                    nCovered.push(this['organisms'][groupId]['covering'].size)
                }
                const isCovered = nCovered.reduce((a, b) => a + b, 0) !== 0
                const annoType = type_dict[this['type']]
                const description = ('description' in this) ? decodeURIComponent(this['description']) : ''
                const tag = (annoType === 'ignore') ? "<div class='annotation ogb-tag' data-annotype='fake'>" + this['name'] + "</div>" : `<div class="annotation ogb-tag" onclick="console.log('input', event, this);showAnnotationClickMenu(event, 'auto', '#map-context-menu', '#map-context-menu .positive' )" data-annotype="${annoType}" title="${description}">${this['name']}</div>`

                let el = `
                <div style="display: inline-flex">
                    <div class="anno-dropdown-item dropdown-item context-menu-icon context-menu-icon-annotation">${tag}${(isCovered) ? ' (' + nCovered.join(':') + ')' : ''}</div>
                    <div class="btn-group dropabrowright">
                        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 1rem; padding: 0rem 0.8rem;"></button>
                        <div class="dropdown-menu" style="width: 400px">
                        <h6 class="dropdown-header context-menu-header">Description</h6>
                        <a class="dropdown-item context-menu-icon context-menu-icon-copy" style="display: flex; flex-wrap: wrap; white-space: break-spaces;">${description}</a>`

                if (isCovered) {
                    for (const [groupId, genomes] of Object.entries(dataGenomes)) {

                        nCovered.push(this['organisms'][groupId]['covering'].size)

                        el += `
                        <h6 class="dropdown-header context-menu-header">Positive genomes ${groupId}</h6>
                        <div class="read-only-div"> ${createReadOnlyGenomeDiv(Array.from(this['organisms'][groupId]['covering']), local_genome_to_visualization, 'positive', '#map-context-menu').html()} </div>`

                    }
                }

                el += `
    </div>
</div>
</div>`
                cm.appendElement(el)
            })

            // summary
            if (isCovered) {
                let allCovering = new Set()
                let allNotCovering = new Set()
                for (const [groupId, genomes] of Object.entries(dataGenomes)) {
                    allCovering = new Set([...allCovering, ...genomes['covering']])
                    allNotCovering = new Set([...allNotCovering, ...genomes['not-covering']])
                }

                cm.appendElement(`
                <h6 class="dropdown-header context-menu-header">Positive genomes</h6>
                <div class="read-only-div"> ${createReadOnlyGenomeDiv(Array.from(allCovering), local_genome_to_visualization, 'positive', '#map-context-menu').html()} </div>
                <h6 class="dropdown-header context-menu-header">Negative genomes</h6>
                <div class="read-only-div"> ${createReadOnlyGenomeDiv(Array.from(allNotCovering), local_genome_to_visualization, 'negative', '#map-context-menu').html()} </div>`
                )
            }

            cm.show()

            $('#map-context-menu .ogb-tag').ogbTooltip()
        }


    </script>
{% endblock %}