{% if help_pycharm_format_it_properly %}}}<script> {% endif %}
console.log("asdf");
data_table = member_table.DataTable({
    scrollY: '250px',
    scrollCollapse: true,
    paging: true,
    "processing": true,
    "serverSide": true,
    pageLength: 10,
    lengthMenu: [[-1, 25, 50, 100, 200, 400, 800, 1600], ["All", 25, 50, 100, 200, 400, 800, 1600]],
    colReorder: true,
    "ajax": "http://127.0.0.1:8000/my/datatable/data/",
    columnDefs: [
        {{ yadcf_column_defs|safe }}
    ]
});

yadcf.exFilterColumn(data_table, [
    {{ yadcf_ex_filter_column|safe }}
]);

yadcf.init(data_table, [
    {{ yadcf_init|safe }}
]);


{% if help_pycharm_format_it_properly %} </script> {% endif %}

