{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}"
          id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/detail.css' %}"/>
{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggleColorizeTax()">
    </div>

{% endblock %}

{% block breadcrum %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Tag -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>TAG {{ tag.tag }}</span>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}

    <div class="body-push"></div>

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- species name -->
{#            <span class="type-label"></span>#}
            <span class="h1" onclick="showTagClickMenu(event, '{{ tag.tag }}')">
                {{ tag.html|safe }}
            </span>

            <br>

            <!-- species rank -->
            <span class="type-label">description:</span>
            <span class="h2">{{ tag.description }}</span>

            <hr class="featurette-divider">

        </div>

        <!-- genomes -->
        <div class="container black-links">
            <ul>{% for genome in tag.get_child_genomes %}
                <li>genome: {{ genome.html|safe }}</li>
            {% endfor %}
            </ul>

        </div>

    </section>
{% endblock %}

{% block end %}
    <script>

        $(document).ready(function () {
            $('.ogb-tag.genome')
                .ogbTooltip()
                .click(function (event) {
                    showGenomeClickMenu(event)
                })

            $('.ogb-tag.organism')
                .ogbTooltip()
                .click(function (event) {
                    showOrganismClickMenu(event)
                })

        });

    </script>

{% endblock %}