{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <!-- Site-specific css/js -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/secondary-navbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}" id="taxid-color-stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/warning-stripes.css' %}"/>
{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()">
    </div>

{% endblock %}

{% block body %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-push"></div>
    <nav aria-label="breadcrumb" class="breadcrumb-fixed">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"></li>
            <!-- Taxid -->
            <li class="breadcrumb-item active" aria-current="page">
                <span>TAXID {{ taxid.id }}</span>
            </li>
        </ol>
    </nav>

    <div class="body-push"></div>

    <section>
        <!-- title -->
        <div class="container black-links">
            <!-- strain -->
            <span class="type-label">species:</span>
            <span class="h3">{{ taxid }} <span style="{{ taxid.html_style }}">(taxid: {{ taxid.id }})</span></span>

            <hr class="featurette-divider">

        </div>

        <!-- strains and genomes -->
        <div class="container black-links">
            <ul>
                {% for strain in taxid.get_child_strains %}

                    <li><span>strain: </span><a data-toggle="tooltip" data-species="{{ strain.taxid }}" href="{% url 'website:strain' slug=strain %}">
                        {{ strain }}</a></li>
                    <ul>
                        {% for genome in strain.genome_set.all %}

                            <li><span>genome: </span><a class="{{ genome.html_warning_stripes }}"
                                                        href="{% url 'website:genome' slug=genome %}">{{ genome }}</a></li>

                        {% endfor %}
                    </ul>
                    </li>

                {% endfor %}
            </ul>


        </div>

    </section>
{% endblock %}

{% block end %}
    <script>

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                title: function () {
                    return $(this).attr('data-species');
                }
            });
        });

    </script>

{% endblock %}