{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <script src="{% static 'global/js/d3.v5.min.js' %}"></script>
    <script src="{% static 'global/js/tidytree.min.js' %}"></script>
    <script src="{% static 'trees/js/trees.js' %}"></script>
    <script src="{% static 'global/js/ResizeSensor.js' %}"></script>
    <script src="{% static 'global/js/query-groups.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color_label.css' %}" id="taxid-color-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'trees/css/trees.css' %}"/>

    <!-- autocomplete -->
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>

{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggleColorizeTax()"
               checked>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="mode-selector"><a>Mode:</a></label>
        <select class="form-control" id="mode-selector"
                onchange="[taxid_tree, genome_similarity_tree, orthofinder_tree].forEach(t=>changeTree(t, 'mode', this.value))">
            <option>smooth</option>
            <option>square</option>
            <option>straight</option>
        </select>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="fill-query"><a>Color genomes:</a></label>

        <div class="container">
            <div id="fill-query"></div>

            <div class="apply-colors-div">
                <div>
                    <label class="form-check-label" for="font-color"><a>Font:</a></label>
                    <input class="form-check-input" type="color" id="font-color" value="#000000">  <!-- black -->
                </div>
                <div>
                    <label class="form-check-label" for="stroke-color"><a>Stroke:</a></label>
                    <input class="form-check-input" type="color" id="stroke-color" value="#FFFF00">  <!-- yellow -->
                </div>
                <button type="button" class="btn btn-primary" onclick="applyColor()">Apply color</button>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" onclick="resetColor()">Reset</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}
    <section>

        <div class="container">
            <form>
                {% csrf_token %}
                <div id="magic-query"></div>

                <button type="button" class="btn btn-primary" onclick="submitFunction()">Submit</button>
            </form>


            {% if magic_query_manager %}
                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>

                <form id="real-div" class="collapse">
                    <div class="form-group">
                        <label for="real-genomes-1">Genomes:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>

                </form>
            {% endif %}
        </div>

        {% if can_calculate_trees %}

            <hr class="featurette-divider">

            <form>
                {% csrf_token %}
                <div class="button-container" style="justify-content: space-evenly">
                    <button type="button" class="btn btn-primary" onclick="loadTaxidTree(allGenomes)">
                        Calculate Taxid-based tree
                    </button>
                    <button type="button" class="btn btn-success" onclick="loadGenomeSimilarityTree(allGenomes)">
                        Calculate Genome-similarity-based tree
                    </button>
                    <button type="button" class="btn btn-info"
                            {% if ORTHOFINDER_ENABLED %} onclick="loadOrthofinderTree(allGenomes)"
                            {% else %} aria-disabled="true" disabled
                            {% endif %}>
                        Calculate Orthofinder-based tree
                    </button>
                </div>
            </form>

        {% endif %}


        <div class="container" id="taxid-tree-container" hidden>{#{% if not can_calculate_trees %} hidden {% endif %}#}
            <hr class="featurette-divider">

            <h2>Taxid-based tree</h2>
            <label for="layout-selector-taxid">Layout</label>
            <select class="form-control" id="layout-selector-taxid"
                    onchange="changeTree(taxid_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-taxid">Type</label>
            <select class="form-control" id="type-selector-taxid"
                    onchange="changeTree(taxid_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option disabled>weighted</option>
                <option selected>tree</option>
            </select>

            <label for="taxid-newick">Newick string</label>
            <input class="form-control" type="text" id="taxid-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <label for="taxid-tree">Dendrogram</label>
            <div id="taxid-tree-resize-trigger">
                <div id="taxid-tree" class="tree-div">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="container" id="genome-similarity-tree-container" hidden>
            <h2>Genome-similarity-based tree</h2>
            <label for="layout-selector-genome-similarity">Layout</label>
            <select class="form-control" id="layout-selector-genome-similarity"
                    onchange="changeTree(genome_similarity_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-genome-similarity">Type</label>
            <select class="form-control" id="type-selector-genome-similarity" onchange="changeTree(genome_similarity_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option selected>weighted</option>
                <option>tree</option>
            </select>

            <label for="genome-similarity-newick">Newick string</label>
            <input class="form-control" type="text" id="genome-similarity-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <div id="genome-distance-matrix" class="button-container">
                Export distance matrix:
                <button type="button" class="btn btn-secondary btn-sm"
                        onclick="saveUriAs(uri='data:application/csv;charset=utf-8,'+encodeURI($('#genome-distance-matrix').data('distance-matrix')), filename='distance-matrix.csv')"
                >Download as CSV
                </button>

                <button type="button" class="btn btn-secondary btn-sm"
                        onclick="CopyToClipboard(text=$('#genome-distance-matrix').data('distance-matrix'))"
                >Copy to Clipboard
                </button>
            </div>

            <label for="genome-similarity-tree">Dendrogram</label>
            <div id="genome-similarity-tree-resize-trigger">
                <div id="genome-similarity-tree" class="tree-div">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="container" id="orthofinder-tree-container" hidden>
            <h2>OrthoFinder-based tree</h2>
            <label for="layout-selector-orthofinder">Layout</label>
            <select class="form-control" id="layout-selector-orthofinder"
                    onchange="changeTree(orthofinder_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-orthofinder">Type</label>
            <select class="form-control" id="type-selector-orthofinder" onchange="changeTree(orthofinder_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option selected>weighted</option>
                <option>tree</option>
            </select>

            <label for="orthofinder-newick">Newick string</label>
            <input class="form-control" type="text" id="orthofinder-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <div id="orthofinder-cached-output" class="button-container">
                Full OrthoFinder output:
                <a id="orthofinder-cached-output-download" role="button" class="btn btn-secondary btn-sm" href="#"
                >Download as tar.gz
                </a>

                <button id="orthofinder-reload" type="button" class="btn btn-secondary btn-sm"
                >Reload OrthoFinder
                </button>
            </div>

            <label for="orthofinder-tree">Dendrogram</label>
            <div id="orthofinder-tree-resize-trigger">
                <div id="orthofinder-tree" class="tree-div">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <br>
        </div>


    </section>

{% endblock %}

{% block end %}
    <script>
        "use strict"

        const magicQuery = [{% if magic_query_manager %} '{{ magic_query_manager.queries|join:"', '" }}' {% else %}{% endif %}]
        const allGenomes = [{% if magic_query_manager %} '{{ magic_query_manager.all_genomes|join:"', '" }}' {% else %}{% endif %}]

        const magicQueryDiv = $('#magic-query')

        const fillQueryDiv = $('#fill-query')

        $(document).ready(function () {
            addGenomesGroup(magicQueryDiv, magicQuery, false, false)

            $('.ogb-tag.genome')
                .ogbTooltip()
                .click(function () {
                    showGenomeClickMenu(event)
                })

            addGenomesGroup(fillQueryDiv, [], false, false)
        })

        let taxid_tree
        let genome_similarity_tree
        let orthofinder_tree

        let ajax_timer

        function submitFunction() {
            const target = magicQueryDiv.find('.get-genomes')[0]
            const genomes = extractQuery(target)

            $.when(validateGenomes(genomes)).done(function (genomesValid) {
                genomesValid = genomesValid['success']

                if (genomesValid) {
                    $('#magic-query .get-genomes').removeClass('is-invalid')
                } else {
                    $('#magic-query .get-genomes').addClass('is-invalid')
                }

                if (genomesValid) {
                    goToPageWithData('/trees', {'genomes': genomes})
                }
            })
        }


        function loadTaxidTree(genomes) {
            $('#taxid-tree-container').attr("hidden", false)
            loadTree(
                genomes, 'taxid', '#taxid-tree', '#taxid-newick',
                $('#type-selector-taxid').val(),
                $('#layout-selector-taxid').val(),
                $('#mode-selector').val(),
                function (tree) {
                    taxid_tree = tree
                    addTreeSizeListener(taxid_tree, 'taxid-tree-resize-trigger')
                }
            )
        }

        function loadGenomeSimilarityTree(genomes) {
            $('#genome-similarity-tree-container').attr("hidden", false)
            loadTree(
                genomes, 'genome-similarity', '#genome-similarity-tree', '#genome-similarity-newick',
                $('#type-selector-genome-similarity').val(),
                $('#layout-selector-genome-similarity').val(),
                $('#mode-selector').val(),
                function (tree) {
                    genome_similarity_tree = tree
                    addTreeSizeListener(genome_similarity_tree, 'genome-similarity-tree-resize-trigger')
                }
            )
        }

        function loadOrthofinderTree(genomes) {
            $('#orthofinder-tree-container').attr("hidden", false)
            loadTree(
                genomes, 'orthofinder', '#orthofinder-tree', '#orthofinder-newick',
                $('#type-selector-orthofinder').val(),
                $('#layout-selector-orthofinder').val(),
                $('#mode-selector').val(),
                function (tree) {
                    orthofinder_tree = tree
                    addTreeSizeListener(orthofinder_tree, 'orthofinder-tree-resize-trigger')
                }
            )
        }

        function forceReloadOrthofinder() {
            $.post('/api/reload-orthofinder/', {'genomes': allGenomes}, function (data) {
                if (data['success']) {
                    loadOrthofinderTree(allGenomes)
                }
            }, "json")
        }

        function applyColor() {
            const target = fillQueryDiv.find('.get-genomes')[0]
            const genomes = extractQuery(target)
            const fontColor = $('#font-color').val()
            const strokeColor = $('#stroke-color').val()

            $.when(getGenomeIdentifiers(genomes)).done(function (data) {
                const genomesValid = data['success']

                if (genomesValid) {

                    $('#fill-query .get-genomes').removeClass('is-invalid')
                } else {
                    $('#fill-query .get-genomes').addClass('is-invalid')
                }

                if (genomesValid) {
                    const identifers = data['identifiers']
                    colorGenomes(identifers, fontColor, strokeColor)
                }
            })

        }

        function colorGenomes(genomes, fontColor, strokeColor) {
            $('.tree-div text').each(function () {
                const toHighlight = new Set(genomes)

                if ($(this).css('opacity') !== '0') {
                    if (toHighlight.has(this.textContent)) {
                        this.style.setProperty('fill', fontColor, 'important')
                        this.style.setProperty('stroke', strokeColor, 'important')
                    }
                }
            })
        }

        function resetColor() {
            $('.tree-div text').each(function () {
                if ($(this).css('opacity') !== '0') {
                    this.style.removeProperty('fill')
                    this.style.removeProperty('stroke')
                }
            })
        }

    </script>

{% endblock %}
