{% extends 'global/base.html' %}
{% load static %}

{% block styles %}
    <script src="{% static 'global/js/d3.v5.min.js' %}"></script>
    <script src="{% static 'global/js/tidytree.min.js' %}"></script>
    <script src="{% static 'global/js/phylogeneticTrees.js' %}"></script>
    <script src="{% static 'global/js/ResizeSensor.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/taxid_color_label.css' %}" id="taxid-color-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'global/css/tag_color.css' %}"/>

    <!-- autocomplete -->
    <link href="{% static 'website/css/jquery-ui.css' %}" rel="stylesheet"/>
    <link href="{% static 'global/css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <script src="{% static 'global/js/jquery.caret.min.js' %}"></script>
    <script src="{% static 'global/js/jquery.tag-editor.min.js' %}"></script>


    <style>
        .tree-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            padding: 5px;
            resize: vertical;
            overflow: auto;
            min-height: 90px;
        }

        .error-message {
            text-align: center;
        }
    </style>
{% endblock %}

{% block sidebar %}

    <div class="sidebar-subcontent form-check form-check-inline">
        <label class="form-check-label" for="colorize-tax-checkbox"><a>Colorize taxonomy?</a></label>
        <input class="form-check-input" type="checkbox" id="colorize-tax-checkbox" onclick="toggle_colorize_tax()"
               checked>
    </div>

    <div class="sidebar-subcontent form-check form-check-inline">
        <label for="mode-selector"><a>Mode</a></label>
        <select class="form-control" id="mode-selector"
                onchange="[taxid_tree, genome_similarity_tree].forEach(t=>changeTree(t, 'mode', this.value))">
            <option>smooth</option>
            <option>square</option>
            <option>straight</option>
        </select>
    </div>

{% endblock %}

{% block body %}
    <section>
        <section>
            <div class="container">
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="get-genomes">Genomes:</label>
                        <input type="text" class="form-control" id="get-genomes"
                               value="{{ magic_query_manager.regular_genomes|join:", " }},{{ magic_query_manager.magic_objects|join:", " }}">
                    </div>

                    <button type="button" class="btn btn-primary" onclick="submit_function()">Submit</button>
                </form>


                <hr class="featurette-divider">

                <button type="button" class="btn btn-light" data-toggle="collapse" href="#real-div" aria-expanded="false" aria-controls="real-div"
                >Show query
                </button>


                <form id="real-div" class="collapse">
                    <div class="form-group">
                        <label for="real-genomes">Genomes:</label>
                        <div class="read-only-div" id="real-genomes">
                            {% for genome in magic_query_manager.all_genomes %}{{ genome.html|safe }}{% endfor %}
                        </div>
                    </div>
                </form>

                {% if can_calculate_trees %}

                    <hr class="featurette-divider">

                    <form>
                        {% csrf_token %}
                        <div style="display: flex; justify-content: space-evenly;">
                            <button type="button" class="btn btn-primary" onclick="load_taxid_tree(genomes)">
                                Calculate Taxid-based tree
                            </button>
                            <button type="button" class="btn btn-success" onclick="load_genome_similarity_tree(genomes)">
                                Calculate Genome-similarity-based tree
                            </button>
                            <button type="button" class="btn btn-info"
                                    {% if ORTHOFINDER_ENABLED %} onclick="load_orthofinder_tree(genomes)"
                                    {% else %} aria-disabled="true" disabled
                                    {% endif %}>
                                Calculate Orthofinder-based tree
                            </button>
                        </div>
                    </form>

                {% endif %}

        </section>


        <div class="container" id="taxid-tree-container" hidden>{#{% if not can_calculate_trees %} hidden {% endif %}#}
            <hr class="featurette-divider">

            <h2>Taxid-based tree</h2>
            <label for="layout-selector-taxid">Layout</label>
            <select class="form-control" id="layout-selector-taxid"
                    onchange="changeTree(taxid_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-taxid">Type</label>
            <select class="form-control" id="type-selector-taxid"
                    onchange="changeTree(taxid_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option disabled>weighted</option>
                <option selected>tree</option>
            </select>

            <label for="taxid-newick">Newick string</label>
            <input class="form-control" type="text" id="taxid-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <label for="taxid-tree">Dendrogram</label>
            <div id="taxid-tree" class="tree-div">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br>
        </div>

        <div class="container" id="genome-similarity-tree-container" hidden>
            <h2>Genome-similarity-based tree</h2>
            <label for="layout-selector-genome-similarity">Layout</label>
            <select class="form-control" id="layout-selector-genome-similarity"
                    onchange="changeTree(genome_similarity_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-genome-similarity">Type</label>
            <select class="form-control" id="type-selector-genome-similarity" onchange="changeTree(genome_similarity_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option selected>weighted</option>
                <option>tree</option>
            </select>

            <label for="genome-similarity-newick">Newick string</label>
            <input class="form-control" type="text" id="genome-similarity-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <label for="genome-similarity-tree">Dendrogram</label>
            <div id="genome-similarity-tree" class="tree-div">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br>
        </div>

        <div class="container" id="orthofinder-tree-container" hidden>
            <h2>OrthoFinder-based tree</h2>
            <label for="layout-selector-orthofinder">Layout</label>
            <select class="form-control" id="layout-selector-orthofinder"
                    onchange="changeTree(orthofinder_tree, 'layout', this.value)">
                <option>horizontal</option>
                <option selected>vertical</option>
                <option>circular</option>
            </select>

            <label for="type-selector-orthofinder">Type</label>
            <select class="form-control" id="type-selector-orthofinder" onchange="changeTree(orthofinder_tree, 'type', this.value)">
                <option>dendrogram</option>
                <option selected>weighted</option>
                <option>tree</option>
            </select>

            <label for="orthofinder-newick">Newick string</label>
            <input class="form-control" type="text" id="orthofinder-newick" placeholder="Loading..."
                   onclick="CopyToClipboard(this.value)" readonly>

            <label for="orthofinder-tree">Dendrogram</label>
            <div id="orthofinder-tree" class="tree-div">
                <div class="spinner-border text-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <br>
        </div>


    </section>

{% endblock %}

{% block end %}
    <script>
        "use strict"

        let genome_to_species = {{ genome_to_species|safe }};

        const genomes = [{% if magic_query_manager %} '{{ magic_query_manager.all_genomes|join:"', '" }}' {% else %}{% endif %}]

        let taxid_tree
        let genome_similarity_tree
        let orthofinder_tree

        let ajax_timer

        $(document).ready(function () {

            genome_to_species = init_autocomplete_genomes("#get-genomes")

            {#if (genomes.length >= 3) {#}
            {#    console.log('load tree!')#}
            {#    load_taxid_tree(genomes)#}
            {# }#}

            $('#real-genomes .genome').click(function (event) {
                showGenomeClickMenu(event)
            })

        })

        function submit_function() {
            const genomes = $('#get-genomes').val().split(',')

            $.when(validate_genomes(genomes)).done(function (genomes_valid) {
                genomes_valid = genomes_valid['success']

                if (genomes_valid) {
                    $('#get-genomes').next().removeClass('is-invalid')
                } else {
                    $('#get-genomes').next().addClass('is-invalid')
                }

                if (genomes_valid) {
                    window.location.href = `/trees?genomes=${urlReplBlanks(genomes)}`;
                }
            })
        }


        function load_taxid_tree(genomes) {
            $('#taxid-tree-container').attr("hidden", false)
            taxid_tree = loadTree(
                genomes, 'taxid', '#taxid-tree', '#taxid-newick',
                $('#type-selector-taxid').val(),
                $('#layout-selector-taxid').val(),
                $('#mode-selector').val()
            )
            add_resize_listener('taxid-tree', taxid_tree)
        }

        function load_genome_similarity_tree(genomes) {
            $('#genome-similarity-tree-container').attr("hidden", false)
            genome_similarity_tree = loadTree(
                genomes, 'genome-similarity', '#genome-similarity-tree', '#genome-similarity-newick',
                $('#type-selector-genome-similarity').val(),
                $('#layout-selector-genome-similarity').val(),
                $('#mode-selector').val()
            )
            add_resize_listener('genome-similarity-tree', genome_similarity_tree)
        }

        function load_orthofinder_tree(genomes) {
            $('#orthofinder-tree-container').attr("hidden", false)
            orthofinder_tree = loadTree(
                genomes, 'orthofinder', '#orthofinder-tree', '#orthofinder-newick',
                $('#type-selector-orthofinder').val(),
                $('#layout-selector-orthofinder').val(),
                $('#mode-selector').val()
            )
            add_resize_listener('orthofinder-tree', orthofinder_tree)
        }


        async function add_resize_listener(target, tree) {
            console.log('adding resize listener to', target, tree)
            tree.then(function () {
                addResizeListener(document.getElementById(target), function () {
                    console.log('resize')
                    clearTimeout(ajax_timer)
                    ajax_timer = setTimeout(function () {
                        redrawTree(tree)
                    }, 500)
                });
            })

        }

    </script>

{% endblock %}
