.blasterjs-alignment {
    font-weight: bold;
    width: 18px;
    text-align: center;
    display: inline-block;
    background-color: #FFFFFF;
}
.blasterjs-A { background-color: #DBFA60 }
.blasterjs-C { background-color: #F9FA60 }
.blasterjs-D { background-color: #F9605F }
.blasterjs-E { background-color: #F9609C }
.blasterjs-F { background-color: #5FF99D }
.blasterjs-G { background-color: #F9BC5F }
.blasterjs-H { background-color: #609DF9 }
.blasterjs-I { background-color: #99F95A }
.blasterjs-K { background-color: #A062FF }
.blasterjs-L { background-color: #7EF960 }
.blasterjs-M { background-color: #63FF63 }
.blasterjs-N { background-color: #D95DF9 }
.blasterjs-P { background-color: #F9DA60 }
.blasterjs-Q { background-color: #F955D8 }
.blasterjs-R { background-color: #5360FB }
.blasterjs-S { background-color: #F97E60 }
.blasterjs-T { background-color: #FFA563 }
.blasterjs-V { background-color: #C0F86B }
.blasterjs-W { background-color: #FDD9F9 }
.blasterjs-Y { background-color: #60F9DA }
