# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# MY CUSTOM ADDITIONS
.idea/
# Generated Glasbey color lookup table
*_lut.npz

website/static/global/css/tag_color.css
website/static/global/css/taxid_color.css
website/static/global/css/taxid_color_label.css

/db_setup/huey.db
/huey.db*

/db_setup/.*

.git
.gitmodules

development.env

Dockerfile

/database
/static_root
/ogb_container