# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# MY CUSTOM ADDITIONS
.idea/

species_color_dict.json

database/*
lib/get_tax_info/data/*
lib/ncbi_blast/ncbi-blast-2.10.0+/
lib/ani/*.jar
lib/genome_similarity/usearch
lib/assembly_stats/assembly-stats/

website/static/global/css/tag_color.css
website/static/global/css/taxid_color.css
website/static/global/css/taxid_color_label.css
website/static/global/css/annotype_color.css

/lib/orthofinder/OrthoFinder/
/db_setup/huey.db
/static_root/
/huey.db*
/website/static/pathway-maps/svg

/lib/gene_ontology/go.obo
/lib/gene_ontology/go.obo.converted

/db_setup/.*
/ogb_container
/docker-compose-production.yaml
