[submodule "lib/get_tax_info"]
	path = lib/get_tax_info
	url = https://gitlab.bioinformatics.unibe.ch/troder/get_tax_info
[submodule "lib/orthofinder_tools"]
	path = lib/orthofinder_tools
	url = https://gitlab.bioinformatics.unibe.ch/troder/orthofinder_tools
[submodule "lib/multiplesequencealignment"]
	path = lib/multiplesequencealignment
	url = https://gitlab.bioinformatics.unibe.ch/troder/multiplesequencealignment.git
