asgiref==3.3.4
backcall==0.2.0
beautifulsoup4==4.9.3
biopython==1.78
biotite==0.27.0
bokeh==2.3.1
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
colorspacious==1.1.2
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
dictdiffer==0.8.1
Django==3.2.2
django-datatables-view==1.19.1
django-invitations==1.9.3
django-js-asset==1.2.2
django-mptt==0.12.0
django-prettyjson==0.4.1
djangorestframework==3.12.4
dna-features-viewer==3.0.3
fire==0.4.0
glacier==0.3.0
hdmedians==0.14.2
huey==2.3.2
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
lockfile==0.12.2
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.4.1
msgpack==1.0.2
natsort==7.1.1
numpy==1.20.2
packaging==20.9
pandas==1.2.4
parso==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
progressbar2==3.53.1
prompt-toolkit==3.0.16
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure-cdb==3.1.1
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.5.6
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scikit-bio==0.5.6
scikit-learn==0.24.2
scipy==1.6.3
shellingham==1.4.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
standardjson==0.3.1
statsmodels==0.12.2
termcolor==1.1.0
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
uWSGI==2.0.19.1
wcwidth==0.2.5