asgiref==3.2.7
backcall==0.1.0
beautifulsoup4
binary-file-search==0.6
biopython==1.77
bokeh
CacheControl==0.12.6
certifi==2020.4.5.1
chardet==3.0.4
colorama
colorspacious
cycler==0.10.0
Cython==0.29.19
decorator==4.4.2
Django
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.1
django-datatables-view==1.19.1
django-js-asset==1.2.2
django-mptt
django-rest-framework==0.1.0
djangorestframework==3.11.0
dna-features-viewer==3.0.1
fire==0.3.1
hdmedians==0.13
huey
idna==2.9
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
lockfile==0.12.2
MarkupSafe==1.1.1
matplotlib
msgpack==1.0.0
natsort==7.0.1
numpy
packaging==20.4
pandas
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow
progressbar2==3.51.3
prompt-toolkit==3.0.5
psycopg2==2.8.5
ptyprocess==0.6.0
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
PyYAML==5.3.1
requests
scikit-bio
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
termcolor==1.1.0
threadpoolctl==2.0.0
tornado==6.0.4
traitlets==4.3.3
typing-extensions==3.7.4.2
urllib3
uWSGI==2.0.18
wcwidth==0.1.9

psutil