asgiref==3.3.1
backcall==0.2.0
beautifulsoup4==4.9.3
biopython==1.78
biotite==0.25.0
bokeh==2.2.3
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-completion==0.5.2
colorama==0.4.4
colorspacious==1.1.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
dictdiffer==0.8.1
Django==3.1.5
django-datatables-view==1.19.1
django-invitations==1.9.3
django-js-asset==1.2.2
django-mptt==0.11.0
django-prettyjson==0.4.1
django-rest-framework==0.1.0
djangorestframework==3.12.2
dna-features-viewer==3.0.3
fire==0.3.1
glacier==0.2.0
hdmedians==0.14.1
huey==2.3.0
idna==3.1
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.3.1
lockfile==0.12.2
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
msgpack==1.0.2
natsort==7.1.0
numpy==1.19.5
packaging==20.8
pandas==1.2.0
parso==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
progressbar2==3.53.1
prompt-toolkit==3.0.10
psutil==5.8.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure-cdb==3.1.1
Pygments==2.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.5.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
scikit-bio==0.5.6
scikit-learn==0.24.0
scipy==1.6.0
shellingham==1.3.2
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
standardjson==0.3.1
statsmodels==0.12.1
termcolor==1.1.0
threadpoolctl==2.1.0
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
uWSGI==2.0.19.1
wcwidth==0.2.5
