#safe-center {
    display: flex;
    margin: auto;
    overflow: auto;
    justify-content: safe center;
}

.table {
    width: min-content
}

.table thead th {
    min-width: 40px;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

#annotation-matrix-container thead th .ogb-tag {
    padding: 6px 0; /* opposite as usual */
    white-space: nowrap;

    writing-mode: vertical-rl;

    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
}

#annotation-matrix-container tbody p {
    margin: 0 0;
}

.form-control p {
    margin-top: 0;
    margin-bottom: 0;
}
