.logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10% 10%;
}

#ogb-logo-full {
    width: 60%;
}

.card-deck {
    justify-content: space-evenly
}

.card {
    max-width: 16rem
}

.row {
    display: flex;
    justify-content: center
}

.card .list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.row .no-gutters div {
    width: 100%;
}

.card-img-top {
    padding: 1rem
}

.img-container {
    padding-bottom: 100%;
    overflow: hidden;
    position: relative
}

.circle img {
    width: 100%;
    position: absolute;
    clip-path: circle();
}

.square img {
    position: absolute;
    width: 100%;
}

.card-title {
    margin-bottom: 0
}

.list-group li {
    padding: 0.2rem 1.25rem
}