html {
    min-height: 100%;
    padding: 10px 10px;
}

.sortable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0; /* overwrite strange inheritance */
    background-color: #f3f3f3;
    min-width: 480px;
    min-height: 30px;
}

.sortable.grid {
    overflow: hidden;
    margin-bottom: 0;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
}

.sortable li {
    list-style: none;
    border: 1px solid #CCC;
}

.sortable.grid li {
    float: left;
    min-width: 80px;
    text-align: center;
    margin: 5px;
}

.selected {
    background-color: #f9c7c8;
    border: solid red 1px !important;
    z-index: 1 !important;
}

/* show and search above table */
#custom-table-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

div.row:nth-child(1) {
    justify-content: space-between;
}

#table_filter {
    display: flex;
    flex: unset;
}

#table_length {
    flex: unset;
}

div.col-md-6:nth-child(2) {
    flex: unset;
    width: min-content;
}

div.col-md-6:nth-child(1) {
    flex: unset;
    width: min-content;
}

/* text and navigator below table */
div.row:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

#table_info {
    display: flex;
    flex: unset;
    width: min-content;
}

.col-md-5 {
    flex: unset;
    display: flex;
    width: min-content;
}

.pagination {
    flex: unset;
    display: flex;
    width: min-content;
}

.col-md-7 {
    flex: unset;
    display: flex;
    width: min-content;

}

#table_paginate {
    flex: unset;
    display: flex;
    width: min-content;
}

/* table */
.dataTables_scroll {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dataTables_scrollHead {
    min-width: min-content;
    width: unset !important;
    overflow: unset !important;
    display: flex;
    justify-content: center;
    padding-left: 6px;
    padding-right: 6px;
}

.dataTables_scrollBody {
    min-width: min-content;
    width: unset !important;
    overflow: unset !important;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    overflow-y: auto !important;
    min-height: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

table {
    width: inherit !important;
}

table thead {
    font-size: 1rem;
}

table thead tr th{
    vertical-align: middle !important;
}

table tbody {
    font-size: 0.9rem;
}

table tbody td {
    padding: 0.1rem !important;
    text-align: center;
    white-space: nowrap;
}

.yadcf-filter-range-date {
	width: 100px;
}

.sorting {
    text-align: center;
}

.sorting_desc {
    text-align: center;
}

.sorting_asc {
    text-align: center;
}

.yadcf-filter-wrapper .yadcf-filter {
    max-width: 70px !important;
}

.select2-search__field {
    /*max-width: 80px;*/
}

.yadcf-filter-wrapper {
    white-space: nowrap;
}

.select2-results__options {
    white-space: nowrap;
}

.select2-dropdown {
    width: min-content !important;
}

.active {
    font-weight: bold;
}

[data-tag] {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}