{% extends "admin/change_form.html" %}

{% block content %}

    <style>
        code {
            color: darkred;
        }
    </style>

    <div class="form-row field-tag">
        <div>
            <label for="custom-markdown">Click here to edit the markdown:</label>
            {% if 'website.change_genome' not in perms  or 'website.change_organism' not in perms %}
                (requires <code>change_genome</code> and <code>change_organism</code> permission ){% endif %}
            <a id="custom-markdown" href="{% url 'admin:markdown-editor' %}?organism={{ original.name }}">EDIT MARKDOWN</a>
        </div>
    </div>

    <div class="form-row field-tag">
        <div>
            <label for="custom-markdown">Click here to open the organism page:</label>
            <a id="custom-markdown" href="{% url 'website:organism' original.name %}">OPEN {{ original.name }}</a>
        </div>
    </div>

    {{ block.super }}

{% endblock %}
