[data-annotype="EC"] {background-color: rgb(222,203,228) !important; color: black !important}
[data-annotype="KG"] {background-color: rgb(179,205,227) !important; color: black !important}
[data-annotype="KR"] {background-color: rgb(229,216,189) !important; color: black !important}
[data-annotype="GO"] {background-color: rgb(255,255,204) !important; color: black !important}
[data-annotype="OL"] {background-color: rgb(254,217,166) !important; color: black !important}
[data-annotype="CU"] {background-color: rgb(222,203,228) !important; color: black !important}
[data-annotype="GC"] {background-color: rgb(204,235,197) !important; color: black !important}
[data-annotype="GP"] {background-color: rgb(255,163,254) !important; color: black !important}
