.navbar a {
    white-space: nowrap;
}

.navbar .navbar-nav a {
    padding: .5rem .5rem
}

@font-face {
    font-family: ogbFont;
    src: url(/static/global/fonts/SansSerifFLF/sansserifbldflf.otf);
}

@media (max-width: 576px) {
    #ogb-logo-text {
        display: none !important;
    }
}

.svg-invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.ogb-body {
    margin-top: 70px; /* overwrite with selector #ogb-body */
}

.is-invalid {
    border: 1px solid red !important;
}

.ogb-tag {
    width: min-content;
    white-space: nowrap;
    margin: 3px 3px 3px 3px;
    border-radius: .25rem;
    padding: 0 6px;
}

#context-menu .context-menu-icon-annotation {
    margin: 0 0 0 0;
}

#context-menu .ogb-tag {
    margin: 3px 3px 3px 3px;
}

.black-links a {
    color: black;
}

.white-links a {
    color: white;
}

.read-only-div {
    padding: 6px 6px 6px 6px
}

/*
inspired by "2019 answer": https://stackoverflow.com/questions/22252472/change-svg-color
convert hex (e.g. #2980b9) to filter: https://codepen.io/sosuke/pen/Pjoqqp
 */
.context-menu-icon-copy::before {
    content: url("/static/global/ionicons/md-copy.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-pathway::before {
    content: url("/static/global/ionicons/ios-git-branch.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-strain::before {
    content: url("/static/global/ionicons/md-bug.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-tree::before {
    content: url("/static/global/customicons/upsidedown-tree.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-world::before {
    content: url("/static/global/ionicons/ios-globe.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-annotation::before {
    content: url("/static/global/ionicons/md-pricetag.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-annotations::before {
    content: url("/static/global/ionicons/md-pricetags.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-blast::before {
    content: url("/static/global/customicons/blast.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-taxid::before {
    content: url("/static/global/customicons/taxid.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-gene::before {
    content: url("/static/global/customicons/gene.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon-genes::before {
    content: url("/static/global/customicons/genes.svg");
    filter: invert(39%) sepia(80%) saturate(459%) hue-rotate(160deg) brightness(96%) contrast(93%); /* #2980b9 */
}

.context-menu-icon::before {
    position: absolute;
    left: 0.5em;
    width: 1.3em;
    padding: 0 0 0 0;
}

.dropdown-item.context-menu-icon {
    padding-left: 2.2em !important;
}

.context-menu-header {
    font-weight: bold;;
}

.tag-editor {
    padding: .375rem .375rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

/*
 * secondary navbar / breadcrumb-push
*/

.body-push {
    /* push body down */
    height: 55px;
}

.breadcrumb-push {
    /* push breadcrumb down */
    margin-top: 55px;
}

.breadcrumb-fixed {
    /* keep breadcrumb on top of page */
    position: fixed;
    z-index: 20;
    width: 100%;
    margin-top: -14px;
}

.breadcrumb a {
    color: #343a40;
}