.ogb-markdown table {
    border: 1px solid #dee2e6;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.ogb-markdown th {
    padding: .3rem;
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    border-bottom-width: 2px;
    vertical-align: bottom;
}

.ogb-markdown td {
    padding: .3rem;
}

.ogb-markdown code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.ogb-markdown pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.ogb-markdown pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}