/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    top: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    right: 0;
    background-color: #111; /* Black*/
    overflow: auto; /* Disable horizontal scroll */
    overflow-x: hidden;
    padding-top: 55px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .sidenav p, .sidenav span :not(.prevent-style-change){
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-size: 25px;
    color: #f3f3f3 !important;
    display: block;
    transition: 0.3s;
    text-align: center;
}

#sidebar-content {
    color: #f3f3f3;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* center */
.sidebar-content {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
    }

    .sidenav a {
    }
}

.sidebar-subcontent {
    width: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar-select {
    display: flex;
    align-items: center;
}

.sidebar-select div {

}