[data-species-label] { stroke-width: 3px; paint-order: stroke; cursor: pointer; }
[data-species-label="root"] {stroke: rgb(152,236,159); fill: black !important}
[data-species-label="cellular organisms"] {stroke: rgb(255,236,210); fill: black !important}
[data-species-label="Bacteria"] {stroke: rgb(211,255,241); fill: black !important}
[data-species-label="Terrabacteria group"] {stroke: rgb(251,235,255); fill: black !important}
[data-species-label="Actinobacteria"] {stroke: rgb(197,223,168); fill: black !important}
[data-species-label="Actinobacteria"] {stroke: rgb(255,202,125); fill: black !important}
[data-species-label="Propionibacteriales"] {stroke: rgb(226,219,17); fill: black !important}
[data-species-label="Propionibacteriaceae"] {stroke: rgb(0,243,255); fill: black !important}
[data-species-label="Acidipropionibacterium"] {stroke: rgb(212,236,245); fill: black !important}
[data-species-label="Acidipropionibacterium acidipropionici"] {stroke: rgb(255,255,124); fill: black !important}
[data-species-label="Acidipropionibacterium thoenii"] {stroke: rgb(255,211,162); fill: black !important}
[data-species-label="Acidipropionibacterium thoenii DSM 20276"] {stroke: rgb(233,216,80); fill: black !important}
[data-species-label="Propionibacterium"] {stroke: rgb(228,211,169); fill: black !important}
[data-species-label="Propionibacterium freudenreichii"] {stroke: rgb(121,236,235); fill: black !important}
[data-species-label="Firmicutes"] {stroke: rgb(228,247,214); fill: black !important}
[data-species-label="Bacilli"] {stroke: rgb(158,255,206); fill: black !important}
[data-species-label="Bacillales"] {stroke: rgb(201,255,172); fill: black !important}
[data-species-label="Staphylococcaceae"] {stroke: rgb(255,188,255); fill: black !important}
[data-species-label="Staphylococcus"] {stroke: rgb(1,247,212); fill: black !important}
[data-species-label="Staphylococcus xylosus"] {stroke: rgb(166,238,35); fill: black !important}
[data-species-label="Lactobacillales"] {stroke: rgb(212,221,117); fill: black !important}
[data-species-label="Aerococcaceae"] {stroke: rgb(211,232,255); fill: black !important}
[data-species-label="Facklamia"] {stroke: rgb(216,222,255); fill: black !important}
[data-species-label="Facklamia tabacinasalis"] {stroke: rgb(167,231,178); fill: black !important}
[data-species-label="Carnobacteriaceae"] {stroke: rgb(125,239,198); fill: black !important}
[data-species-label="Marinilactibacillus"] {stroke: rgb(211,219,236); fill: black !important}
[data-species-label="Marinilactibacillus psychrotolerans"] {stroke: rgb(245,218,240); fill: black !important}
[data-species-label="Lactobacillaceae"] {stroke: rgb(220,214,206); fill: black !important}
[data-species-label="Lactobacillus"] {stroke: rgb(255,210,228); fill: black !important}
[data-species-label="Lactobacillus casei group"] {stroke: rgb(167,237,89); fill: black !important}
[data-species-label="Lactobacillus casei"] {stroke: rgb(163,255,254); fill: black !important}
[data-species-label="Lactobacillus paracasei"] {stroke: rgb(231,255,0); fill: black !important}
[data-species-label="Lactobacillus delbrueckii"] {stroke: rgb(255,198,172); fill: black !important}
[data-species-label="Lactobacillus delbrueckii subsp. bulgaricus"] {stroke: rgb(255,216,0); fill: black !important}
[data-species-label="Lactobacillus delbrueckii subsp. lactis"] {stroke: rgb(166,224,255); fill: black !important}
[data-species-label="Lactobacillus fermentum"] {stroke: rgb(188,238,255); fill: black !important}
[data-species-label="Lactobacillus helveticus"] {stroke: rgb(222,255,197); fill: black !important}
[data-species-label="Lactobacillus parabuchneri"] {stroke: rgb(195,255,71); fill: black !important}
[data-species-label="Lactobacillus parafarraginis"] {stroke: rgb(122,255,219); fill: black !important}
[data-species-label="Lactobacillus plantarum"] {stroke: rgb(202,252,255); fill: black !important}
[data-species-label="Lactobacillus rhamnosus"] {stroke: rgb(186,239,230); fill: black !important}
[data-species-label="Pediococcus"] {stroke: rgb(253,255,235); fill: black !important}
[data-species-label="Pediococcus acidilactici group"] {stroke: rgb(255,244,250); fill: black !important}
[data-species-label="Pediococcus acidilactici"] {stroke: rgb(210,239,235); fill: black !important}
[data-species-label="Pediococcus pentosaceus"] {stroke: rgb(227,231,182); fill: black !important}
[data-species-label="Pediococcus stilesii"] {stroke: rgb(234,255,255); fill: black !important}
[data-species-label="Leuconostocaceae"] {stroke: rgb(213,209,255); fill: black !important}
[data-species-label="Leuconostoc"] {stroke: rgb(131,255,177); fill: black !important}
[data-species-label="Leuconostoc mesenteroides"] {stroke: rgb(212,237,156); fill: black !important}
[data-species-label="Streptococcaceae"] {stroke: rgb(56,255,151); fill: black !important}
[data-species-label="Lactococcus"] {stroke: rgb(235,232,237); fill: black !important}
[data-species-label="Lactococcus lactis"] {stroke: rgb(159,232,196); fill: black !important}
[data-species-label="Lactococcus lactis subsp. cremoris"] {stroke: rgb(193,218,237); fill: black !important}
[data-species-label="Lactococcus lactis subsp. lactis"] {stroke: rgb(208,232,87); fill: black !important}
[data-species-label="Lactococcus raffinolactis"] {stroke: rgb(255,249,149); fill: black !important}
[data-species-label="Streptococcus"] {stroke: rgb(215,210,234); fill: black !important}
[data-species-label="Streptococcus thermophilus"] {stroke: rgb(184,224,207); fill: black !important}
